
<section class="section--main">
  <div class="cart">
    <div class="row">

      <div class="small-12 columns medium-11 large-9  medium-centered">
        <div class="row">
          <div class="small-12  columns">
            <h1 class="cart-headline  headline">{{ 'cart.general.title' | t }}</h1>
          </div>
          
          <div class="small-12 columns">
              {% if cart.item_count > 0 %}
                <form action="/cart" method="post" novalidate>
                  <ul class="cart-contents  grid  grid--flexDirectionColumn  med-grid--flexDirectionRow  med-grid--flexWrap  med-grid--1of2 large-grid--1of3 large--flexNoWrap">
                    {% for item in cart.items %}
                    <li class="grid-cell">
                      <div class="cart-product  grid--top  grid">
                        {% if item.image != blank %}
                          <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: '240x240' | img_tag: item.title, 'cart-product-image'}}
                          </a>
                        {% endif %}
              
                          <ul class="cart-product-info">
                            
                            <li>
                              <a href="{{ item.url }}" class="cart-product-name">{{ item.product.title }}</a>
                            </li>
                        
                            <li>
                              {% unless item.product.has_only_default_variant %}
                                <p class="cart-product-type">{{ item.variant.title }}</p>
                              {% endunless %}
                            </li>
                                              
                            <li>
                             <span class="cart-product-size"> {%- assign property_size = item.properties | size -%}</span>
                            </li>
              
                              <span class="cart-product-price">
                                {% if item.original_line_price != item.line_price %}
                                  <span class="hide-elem">{{ 'cart.label.discounted_price' | t }}</span>
                                  {{ item.price | money }}
                                  <span class="hide-elem">{{ 'cart.label.original_price' | t }}</span>
                                  <s>{{ item.original_price | money }}</s>
                                {% else %}
                                  {{ item.price | money }}
                                {% endif %}
                              </span>
              
                              <div class="cart-product-qty grid  grid--center">
                                <label for="updates_{{ item.key }}">
                                  QTY.
                                </label>
                                <input type="number"
                                     name="updates[]"
                                     id="updates_{{ item.key }}"
                                     value="{{ item.quantity }}"
                                     min="0"
                                     aria-label="{{ 'cart.general.item_quantity' | t }}">
                              </div>
              
                              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-product-remove">
                               
                              </a>
                          </ul>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
        
                  <div class="cart-total  grid  grid--center  grid--justifySpaceBetween">
                    <p>{{ 'cart.general.subtotal' | t }}</p>
                    <p class="cart-total-amount">{{ cart.total_price | money }}</p>
                  </div>
                  
                  {% if cart.total_discounts > 0 %}
                  <div class="cart-discounts">
                      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                  </div>
                  {% endif %}
        
                  <div class="cart-actions  grid  grid--center grid--justifyRight  grid--gutters  grid--flexWrap">
                      <a href="/collections/laces" id="continue-shopping" name="Continue Shopping" class="button  button--tertiary  button--medium" data-text="Continue Shopping">Continue Shopping
                      </a>
                      <button type="submit" name="update" class="button  button--tertiary  button--medium" data-text="{{ 'cart.general.update' | t }}">
                        <span>{{ 'cart.general.update' | t }}</span>
                      </button>
                      <button type="submit" name="checkout" class="button  button--primary  button--medium" data-text="{{ 'cart.general.checkout' | t }}">
                        <span>{{ 'cart.general.checkout' | t }}</span>
                      </button>
                  </div>
                  
                  <p class="text-right">{{ 'cart.general.shipping_at_checkout' | t }}

                  </p>

                </form>
        
              {% else %}
                {% comment %}
                Cart empty state
                {% endcomment %}
                <div class="supports-cookies">
                  <p>{{ 'cart.general.empty' | t }}</p>
                  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
                </div>
                  
                {% comment %}
                Cart no cookies state
                ---------------------
                Browser cookies are required to use the cart. If cookies aren't enabled in the
                browser a message is displayed prompting the user to enable them.
                {% endcomment %}
                <div class="supports-no-cookies">
                  <p>{{ 'cart.general.cookies_required' | t }}</p>
                </div>
              {% endif %}
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
