
<div data-collection-id="{{collection.handle}}" data-collection-type="{{collection.template_suffix}}">
  <!--Page Header Begins--> 
  {% section 'page-header' %}
  <!--Page Header Ends--> 
  
<main>  

    
    <!--Collection Begins--> 
    <div class="row small-collapse ">
      <div class="small-12  large-11  columns">
        <div class="collection  grid  grid--flexDirectionColumn  large-grid--flexDirectionRow">
          {%include 'collection-menu'%}
          <div class="collection-products">

            <div class="show-for-medium-up">
              <div class="row  row--full">
                <div class="class small-12 medium-11 large-12 columns">
                  <div class="collectionDescription" data-collection-description>
                    <div class="collectionDescription-inner">
                      <p>
                        {{collection.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="collectionActiveTags  show-for-medium-up" data-active-tags-container>

            </div>
            <div>
              {%- assign linkHandle = collection.handle | handleize -%}
              {% for link in linklists %}
                {%- assign linkTitle = link.title | handleize -%}
                {% if linkTitle == linkHandle %} 
                   {%- assign child_list_handle = link.title | handleize -%}
                   {% for childlink in link.links %} 
                    {% assign collection = childlink.object %}
              
                    <div class="row small-collapse">
                      <div class="small-12  large-12  columns  ">
                        <!--Collection Begins--> 
                        <section class="section">
                          <div class="row row--full small-collapse">
                            <div class="small-12  medium-11  large-12  columns  ">
              
                                <div class="grid  grid--justifyCenter  grid--stretch">
                                  <div class="collectionContainer">
                                     <div class="categoryHeader"> 
                                      <h2 class="categoryHeader-title">{{ collection.title }}</h2>
                                    
                                    </div> 
                                      
                                    <div class="row">
                                      <div class="small-12 columns">
                                        <ul class="grid  
                                                   grid--flexDirectionRow
                                                   grid--1of2
                                                   med-grid--1of3
                                                   grid--flexWrap
                                                   med-grid--flexDirectionRow
                                                   large-grid--1of4
                                                   productThumbs"  data-collection-container data-collection-container-id="{{collection.id}}">

                                          {% for product in collection.products | limit: 7 %}
                                           <li class="grid-cell  {%if product.tags contains 'alt-thumb' %} alt-thumbnail {%endif%}">
                                             {%include 'product-thumb'%}
                                           </li>
                                           {% endfor %}
                                      
                                          <li class="grid-cell  {%if collection.products[0].tags contains 'alt-thumb' %} alt-thumbnail {%endif%}">
                                            {%include 'collection-more-thumb'%}
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </section>
                        <!--Collection Ends--> 
                      </div>
                    </div>
                  {%endfor%}
                {%endif%}
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Collection Ends--> </main>
</div>





{%raw%}
<script id="collection-products-template" type="text/template">
{{#product}}
<li class="grid-cell {{#ifIn 'alt-thumb' tags}} alt-thumbnail{{/ifIn}}"  data-id="{{id}}"   data-product-thumb>
  <a class="productThumb  {{#unless available}}productThumb--soldOut{{/unless}}"  href="{{url}}" data-product data-title="{{title}}" data-already-showing="false" title="Shop {{title}}">

    <div class="productThumb-tags">
      {{#ifIn 'best-seller' tags}}
        <div class="productThumb-tag  productThumb-tag--bestSeller">
          TOP SELLER  
        </div>
      {{/ifIn}}
      {{#ifIn 'new-pair' tags}}
        <div class="productThumb-tag  productThumb-tag--new">
          New Pair
        </div>
      {{/ifIn}}
    </div>

    <div class="productThumb-inner">
      <div class="productThumb-addToCart">
          <form action="/cart/add" method="post" id="AddToCartForm" data-thumb-add-to-cart-form enctype="multipart/form-data">   
          <input type="hidden" name="id" value="{{variant}}">
            <button type="submit" name="add" id="AddToCart" class="AddToCart"  data-thumb-add-to-cart-btn>
{%endraw%}
            {% include 'icon-cart' %}
{%raw%}
            </button>
        </form>
      </div>

      <div class="productThumb-bg">
        {{#ifIn 'alt-thumb' tags}}
          <picture>
            <source data-srcset="{{images.0.wide-large}}"  media="(min-width: 900x)">
            <source data-srcset="{{images.0.large}}"  media="(min-width: 640px)">
            <source data-srcset="{{images.0.medium}}">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}" data-sizes="auto" data-product-img class="lazyload" data-sizes="auto">
          </picture>

          {{#if images.2.xlarge}}
           <div class="productThumb-bg-secondaryImg">
              <picture>
                <source data-srcset="{{images.2.xlarge}}"  media="(min-width: 900x)">
                <source data-srcset="{{images.2.xlarge}}"  media="(min-width: 640px)">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}" data-sizes="auto" data-product-img class="lazyload"  data-sizes="auto">
              </picture>
            </div>
          {{/if}}      

        {{else}}
          <picture>
            <source data-srcset="{{images.0.large}}"  media="(min-width: 900x)">
            <source data-srcset="{{images.0.medium}}"  media="(min-width: 640px)">
            <source data-srcset="{{images.0.small}}">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}" data-sizes="auto" data-product-img class="lazyload" data-sizes="auto">
          </picture>

          {{#if images.2.xlarge}}
           <div class="productThumb-bg-secondaryImg">
              <picture>
                <source data-srcset="{{images.2.xlarge}}"  media="(min-width: 900x)">
                <source data-srcset="{{images.2.xlarge}}"  media="(min-width: 640px)">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}" data-sizes="auto" data-product-img  class="lazyload" data-sizes="auto">
              </picture>
            </div>
          {{/if}}

        {{/ifIn}}
      </div>

    </div>

    <div class="productThumb-description text-center grid grid--justifyCenter  grid--flexDirectionColumn">
        <h3 class="productThumb-title">
        {{title}}
        </h3>
        <div>
          <span>
          {{price}}
          </span>
        </div>
      </div>
  </a>
</li>
{{/product}}  
</script>
{%endraw%}



{%raw%}
<script id="view-more-prods-thumb-template" type="text/template">
  <li class="grid-cell {{#ifIn 'alt-thumb' product.0.tags}} alt-thumbnail {{/ifIn}}">
    <a href="{{collection.url}}" rel="internal" title="View All {{collection.title}}" class="productThumb">
      <div class="collectionMoreThumb">
         <div class="collectionMoreThumb-inner   grid--center  grid">
            <div class="collectionMoreThumb-content  grid  grid--center  grid--flexDirectionColumn  grid--justifyCenter">
              <p class="grid  grid--center  grid--justifyCenter"> Shop All <br> {{collection.title}}</p>
              <div class="collectionMoreThumb-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path class="ring" d="M22.118 44.236C9.922 44.236 0 34.314 0 22.118S9.922 0 22.118 0s22.118 9.922 22.118 22.118-9.922 22.118-22.118 22.118zm0-42.736C10.75 1.5 1.5 10.749 1.5 22.118c0 11.368 9.25 20.618 20.618 20.618 11.37 0 20.618-9.25 20.618-20.618 0-11.369-9.248-20.618-20.618-20.618z"/><path  class="arrow" d="M19.341 29.884a.75.75 0 0 1-.53-1.281l6.796-6.804-6.796-6.803a.75.75 0 1 1 1.061-1.061l7.325 7.333a.75.75 0 0 1 0 1.061l-7.325 7.333a.742.742 0 0 1-.531.222z"/></svg>
              </div>
            </div>
        </div>
      </div>
    </a>
  </li>   
</script>
{%endraw%}


{%raw%}
<script id="tags-template" type="text/template">
  <ul class="activeTags  grid  grid--center  grid--flexDirectionRow">
    {{#tag}}
    <li class="activeTags-tag  grid  grid--center  grid--justifyLeft  grid--flexDirectionRow  grid--middle">
      <a data-active-tag title="Remove {{this.name}}"  data-label="{{this.label}}" role="button">
      </a> <h2>{{this.name}}</h2>
    </li>
    {{/tag}}
  </ul>
</script>
{%endraw%}


{%raw%}
<script  id="collection-empty-template" type="text/template">
<div class="childCollectionEmptyState">
    <div class="childCollectionEmptyState-inner  grid  grid--center  grid--justifyCenter  grid--flexDirectionColumn">
      <h1 class="headline">Currently... nothing to see here.</h1>
      <p>At this time we don't offer {{collection.title}} that match your query. <br> <br>
        <a href="{{collection.url}}" title="Shop {{collection.title}}" rel="internal" class="" data-text=" {{collection.title}}">
        Shop All {{collection.title}}
        </a>
      </p>
    </div>
  </div>
  <div>
</div>
</script>
{%endraw%}


