
<div data-collection-id="{{collection.handle}}">
  <!--Page Header Begins--> 
  {% section 'page-header' %}
  <!--Page Header Ends--> 
  
  <!--Collection Begins--> 
  <div class="row small-collapse ">
    <div class="small-12  large-11  columns">
      <div class="collection  grid  grid--flexDirectionColumn  medium-grid--flexDirectionRow">
        {%include 'collection-menu'%}
        <div class="collection-products">

          <div class="show-for-medium-up">
            <div class="row  row--full">
              <div class="class small-12 medium-11 large-12 columns">
                <div class="collectionDescription" data-collection-description>
                  <div class="collectionDescription-inner">
                    <p>
                      {{collection.description}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="collectionActiveTags  show-for-medium-up" data-active-tags-container>

          </div>

        {% section 'collection' %}
        </div>
      </div>
    </div>
  </div>
  <!--Collection Ends--> 
</div>

{%raw%}
<script id="tags-template" type="text/template">
  <ul class="activeTags  grid  grid--center  grid--flexDirectionRow">
    {{#tag}}
    <li class="activeTags-tag  grid  grid--center  grid--justifyLeft  grid--flexDirectionRow  grid--middle">
      <a data-active-tag title="Remove {{this.name}}"  data-label="{{this.label}}" role="button">
      </a> <h2>{{this.name}}</h2>
    </li>
    {{/tag}}
  </ul>
</script>
{%endraw%}



