{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}


<header class="section--main">
  
  <!--Page Header--> 
  <div class="row small-collapse">

    <div class="small-12 large-11 columns">

      <div class="pageHeader">
            
          <div class="pageHeader-contentContainer  grid  grid--bottom">
          
            <div class="row">
          
              <div class="small-12 columns large-push-1 large-10">
                <div class="pageHeader-content">

                  <h1 class="pageHeader-headline">
                    Shop <br> 
                    {{ page_title }}
                  </h1>

                </div>

              </div>

            </div>
      
          </div>
      
          <div class="pageHeader-bg">
            
            <picture>
                
              <source media="(min-width: 1024px)"
                      srcset="{{'shopHeaders--all--large.jpg' | asset_url}}">
            
              <source media="(min-width: 640px)"
                      srcset="{{'shopHeaders--all--medium.jpg' | asset_url}}">
            
              <img src="{{'shopHeaders--all--small.jpg' | asset_url}}"
                   class="pageHeader-bg-img"
                   alt="" 
                   >
            </picture>
          </div>
        
      </div>

    </div>
<!-- 
    <div class="show-for-large-up large-1 columns">
      
     <div class="noticeBanner"> 
  
        <div class="noticeBanner-headline">You Can't Not Notice Us</div>

      </div>

    </div> -->

  </header>
  <!--Page header Ends--> 




  <!--Collection Begins--> 
  <div class="section">
    <div class="row small-collapse">
      <div class="small-12  medium-11  large-12  medium-centered  columns  grid  grid--justifyCenter">
        <div class="collectionContainer">
          <div class="categoryHeader"> 
            
            <h2 class="categoryHeader-title">{{ collection.title }}</h2>
            
            <div class="categoryHeader-icon">
            
           <!--      <img src="assets/images/whiskIcon--cat_teal.svg" 
                   alt="">
             -->
            </div>
          </div>
            
          <div class="row">
            <div class="small-12 columns">
              <ul class="grid  
                         grid--flexDirectionRow
                         grid--1of2
                         med-grid--1of3
                         grid--flexWrap
                         med-grid--flexDirectionRow
                         large-grid--1of4
                         productThumbs">

                  {% for collection in collections %}
                  <li class="grid-cell">
                    <div class="productThumb">
                      <a href="{{ collection.url }}"  title="{{ 'collections.general.link_title' | t: title: title }}">
                        <div class="productThumb-inner">
                          <div class="productThumb-bg">
                            {% if collection.image != blank %}
                            {{ collection | img_url: '480x480' | img_tag: collection.title }}
                          {% elsif collection.products.first != blank %}
                            {{ collection.products.first | img_url: '480x480' | img_tag: collection.title }}
                          {% else %}
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                          {% endif %}
                          </div>
                          <div class="productThumb-description text-center grid grid--center grid--justifySpaceBetween">
                            <h3 class="productThumb-title">{{ product.title }}</h3>
                            <div>
                              {% if product.compare_at_price > product.price %}
            
                                {% if product.price_varies %}
                                  {%- assign sale_price = product.price | money -%}
                                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                                {% else %}
                                  {{ 'products.product.on_sale' | t }}
                                  {{ product.price | money }}
                                {% endif %}
            
                              {% else %}
            
                                {% if product.price_varies %}
                                  {%- assign price = product.price | money -%}
                                  {{ 'products.product.from_text_html' | t: price: price }}
                                {% else %}
                                  {{ product.price | money }}
                                {% endif %}
            
                              {% endif %}
            
                              {% if product.compare_at_price > product.price %}
                                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                <s>{{ product.compare_at_price | money }}</s>
                              {% endif %}
                              
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  {% endfor %}

                    <a href="">

                    </a>

                    <p>
                      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
                    </p>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Collection Ends--> 







