
<article>

  <section data-section-id="{{ section.id }}">
    <div class="lookBookHeader  [ grid  grid--center  grid--justifyCenter ]">
      <div class="lookBookHeader-bg">
        
      </div>
      <div class="lookBookHeader-content">
        <h1 class="lookBookHeader-headline  text-center">
          Laces You Can’t Not Notice.
        </h1>
        
        <p class="lookBookHeader-descriptor  text-center">
          Whiskers help animals see in the dark. Who knew? We’re here to help you see in the dark. Metaphorically, though. Not literally. These are shoelaces, not night vision goggles, my friend.
        </p>
      </div>  
    </div>
  </section>

  <section >
    <div class="lookBookIntro">
      <div class="row small-collapse">
        <div class="small-12  medium-11  large-10  medium-centered  columns">
          <div class="lookBookIntro-inner  ">
            <div class="row  [  grid grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--center ]">
              <div class="small-12 columns medium-7">
                <div class="lookBookIntro-image">
                  <img src="{{ 'lookbook-intro_small.png' |  asset_url}}" alt="">
                </div>
              </div>
              <div class="small-12  columns  medium-5">
                <div class="lookBookIntro-copy">
                  <h1 class="lookBookIntro-headline">Your shoes, <br>less boring</h1>
                  <p>If shoes were animals, they would never reproduce and further their own species. They have no distinguishing marks to catch a suitor’s eye. Luckily for us all, Whiskers exist.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% section 'lookbook-slideshow' %}

  <section>
    <div class="row">
      <div class="small-12  medium-11  large-10 medium-centered  columns">
        <div class="lookbookArt" data-section-id="{{ section.id }}">
          <h1 class="lookbookArt-headline  text-center">Give yourself <br>a lacelift</h1>
          <div class="lookbookArt-img">
            <img src="{{'lookbook-artShot1.jpg' | asset_url }}" alt="">
          </div>
          <p class="text-center">
            Colorful laces won’t change your life. But they will change your shoes. And let’s be honest, you gotta start somewhere.
          </p>
          <div class="lookbookArt-icon">
            <svg class="whiskerIcon  whiskerIcon--pink">
              <use xlink:href="#icon--bolt"/>

            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% section 'lookbook-slideshow2' %}

  <section>
    <div class="row">
      <div class="small-12  medium-11  large-10 medium-centered  columns">
        <div class="lookbookArt" data-section-id="{{ section.id }}">
          <h1 class="lookbookArt-headline  text-center">Lace game so strong it <br class="show-for-large-up">might hurt your feet</h1>
          <div class="lookbookArt-img">
            <img src="{{'lookbook-artShot2.jpg' | asset_url }}" alt="">
          </div>
          <p class="text-center">
            Consult your doctor before using. Because your doctor would probably really like these too. And then just imagine how much more pleasant a trip to the doctor would be.
          </p>
          <div class="lookbookArt-icon">
            <svg class="whiskerIcon  whiskerIcon--yellow  whiskerIcon--large">
              <use xlink:href="#icon--pineapple"/>

            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% section 'lookbook-cta' %}
  
<!--   <div role="presentation">
    <span>Tastefully Wrong</span>

    <p>
      Please keep in mind: Whiskers come wrapped around a spool because they’re evil and may try to take over the top drawer of your dresser. Do not leave them unsupervised!
    </p>
  </div> -->
</article>


{% javascript %}
  
  $(document).ready(function() {
  
    alert("aqui estamos"); 

  });

{% endjavascript %}
