<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="offCanvasCart-inner   grid  grid--flexDirectionColumn  grid--justifySpaceBetween">

      <div class="offCanvasCart-contents">

        {{#items}}
        <div class="offCanvasCart-product  grid  grid--center" data-line="{{line}}">
          <a href="{{url}}">
          <img src="{{img}}" alt="{{name}}" class="offCanvasCart-product-image">
          </a>

          <ul class="offCanvasCart-product-info  grid  grid--flexDirectionColumn">
            <span class="offCanvasCart-product-remove  ajaxcart__qty-remove" data-line="{{line}}">
                                 
            </span>

            <li class="grid-cell">
              <a href="{{url}}" class="offCanvasCart-product-name">{{{name}}}</a>
              {{#if variation}}
                <span class="offCanvasCart-product-type">{{variation}}</span>
              {{/if}}
              {{#properties}}
                {{#each this}}
                  {{#if this}}
                    <span>{{@key}}: {{this}}</span>
                  {{/if}}
                {{/each}}
              {{/properties}}
            </li>

            <li class="grid-cell  grid  grid--center  grid--justifySpaceBetween">
              <div class="offCanvasCart-product-qty">
                <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text" aria-hidden="true">&minus;</span>
                </button>
                <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text" aria-hidden="true">+</span>
                </button>
              </div>
              <div>
              {{#if discountsApplied}}
                <small>{{{price}}}</small>
                <span >
                  {{{discountedPrice}}}
                </span>
              {{else}}
                <span class="ajaxcart__price">
                  {{{price}}}
                </span>
              {{/if}}
              </div>
            </li>

            {{#if discountsApplied}}
              <div class="grid--full display-table">
                <div class="grid__item text-right">
                  {{#each discounts}}
                    <small class="ajaxcart__discount">{{this.title}}</small>
                  {{/each}}
                </div>
              </div>
            {{/if}}

          </ul>
        </div>
        {{/items}}

      </div>
      <div class="offCanvasCart-footer">

        <div class="offCanvasCart-total  grid  grid--center  grid--justifySpaceBetween">
          <p class="ajaxcart__subtotal">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          <p class="offCanvasCart-total-amount">{{{totalPrice}}}</p>
        </div>

        <div class="offCanvasCart-discounts">
        {{#if totalCartDiscount}}
            <p class="ajaxcart__savings text-center">{{{totalCartDiscount}}}</p>
          {{/if}}
        </div>
     
        <div class="offCanvasCart-actions">
          <button type="submit" name="checkout" class="button  button--small  button--expanded  button--primary" name="checkout" data-text="{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}">
            {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %} 
          </button>
        </div>
      </div>
    </form>
  {% endraw %}
  </script>

  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
  
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
      </button>
    </div>
  {% endraw %}
  </script>

