  {% if product.featured_image != blank %}
    <a class="productThumb  {% unless product.available %}productThumb--soldOut{% endunless %}" href="{{ product.url | within: collection }}" data-product  data-title="{{product.title}}">
      <div class="productThumb-tags">
        {%for tag in product.tags%}
          {%if tag == 'best-seller'%}
            <div class="productThumb-tag  productThumb-tag--bestSeller">
              TOP SELLER  
            </div>
          {%endif%}
          {%if tag == 'new-pair'%}
            <div class="productThumb-tag  productThumb-tag--new">
              New Pair
            </div>
          {%endif%}
        {%endfor%}
      </div>

      <div class="productThumb-inner">
        <div class="productThumb-addToCart">
            <form action="/cart/add" method="post" id="AddToCartForm" data-thumb-add-to-cart-form enctype="multipart/form-data">   
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <button type="submit" name="add" id="AddToCart" class="AddToCart"  data-thumb-add-to-cart-btn>
              {% include 'icon-cart' %}</button>
          </form>
        </div>

        <div class="productThumb-rating">
          <div class="yotpo bottomLine"  data-product-id="{{ product.id }}">
          </div>
        </div>

        <div class="productThumb-bg">
           {%if product.tags contains 'alt-thumb'  %}
           <picture>
              <source data-srcset="{{ product.featured_image.src | img_url: '880x', format:'pjpg'}}"  media="(min-width: 900x)">
              <source data-srcset="{{ product.featured_image.src | img_url: '660x', format:'pjpg'}}"  media="(min-width: 640px)">
              <source data-srcset="{{ product.featured_image.src | img_url: '700x', format:'pjpg'}}">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{product.featured_image.alt}}" data-sizes="auto" data-product-img class="lazyload" data-sizes="auto" data-expand="200">
            </picture>
          {%else%}
           <picture>
              <source data-srcset="{{ product.featured_image.src | img_url: '480x', format:'pjpg'}}"  media="(min-width: 900x)">
              <source data-srcset="{{ product.featured_image.src | img_url: '380x', format:'pjpg'}}"  media="(min-width: 640px)">
              <source data-srcset="{{ product.featured_image.src | img_url: '350x', format:'pjpg'}}">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{product.featured_image.alt}}" data-sizes="auto" data-product-img class="lazyload" data-sizes="auto" data-expand="200">

            {%if product.images[2]  %}
               <div class="productThumb-bg-secondaryImg">
                  <picture>
                    <source data-srcset="{{ product.images[2].src | img_url: '1000x', format:'pjpg'}}"  media="(min-width: 900x)">
                    <source data-srcset="{{ product.images[2].src | img_url: '820x', format:'pjpg'}}"  media="(min-width: 640px)">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{product.images[2].alt}}" data-sizes="auto" data-product-img class="lazyload" data-sizes="auto" data-expand="5">
                  </picture>
                </div>
            {%endif%}
          {%endif%}

        </div>

      </div>

      <div class="productThumb-description text-center grid grid--center grid--flexDirectionColumn">
          <h3 class="productThumb-title">
          {{ product.title }}
          </h3>
          <div>
            {% if product.compare_at_price > product.price %}

              {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
              {% endif %}

            {% else %}

              {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}

            {% endif %}

            {% if product.compare_at_price > product.price %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s>{{ product.compare_at_price | money }}</s>
            {% endif %}
            
          </div>
        </div>
    </a>
  {% else %}
    {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
      {% for i in (1..8) %}
        <a href="#">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        </a>

        <p>
          <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
        </p>

        <p>
          {{ 1999 | money }}
        </p>
      {% endfor %}
    {% else %}
      <p>{{ 'collections.general.no_matches' | t }}</p>
    {% endif %}
{%endif%}