
<div class="collection-length-filter">
	<span class="collectionFilters-filter-title">
		{{section.settings.title}}
	</span>
	<ul class="grid  grid--flexWrap grid--flexDirectionColumn">
		{%for block in section.blocks%}
  			<li class="grid-cell">
  				<div class="lengthOption  grid  grid--center  {%unless collection.all_tags contains block.settings.tag%} 
          is-disabled{%endunless%}">
            <input type="checkbox" value="{{block.settings.tag}}" name="{{block.settings.tag}}" data-enforced-option>
            <span class="lengthOption-checkbox">
              <div class="lengthOption-checkbox-check">
                
              </div>
            </span>
  					<label for="{{block.settings.tag}}"> 
                <span class="lengthOption-length">{{block.settings.length}}</span>
                <span class="lengthOption-detail">{{block.settings.title}}</span>
            </label>
  				</div>
  			</li>
		{%endfor%}
	</ul>
</div>

{% schema %}
  {
    "name": "Length Filter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "length",
        "name": "Lengths",
        "settings": [
           {
            "label": "Eyelet Pairs",
            "id": "title",
            "type": "text"
          },
          {
            "label": "Length of Lace",
            "id": "length",
            "type": "text"
          },
          {
            "label": "Length Tag",
            "id": "tag",
            "type": "text"
          }
        ]
      }
    ]
  }

{% endschema %}

