
<div>
	<ul class="collectionCategories  grid  grid--center  flex--noWrap  large-grid--flexDirectionColumn  grid--1of3  large-grid--top">
   {% for link in linklists[section.settings.menu].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% if menus[child_list_handle].links != blank %}
        <li class="menu-item grid-cell {% if link.active %}is-active{%endif%}" >
          <a href="{{ link.url }}" class="menu-link ">{{ link.title }}</a>
          <ul class="dropDown {%if link.active %} is-showing {%endif%}">
            {% for childlink in menus[child_list_handle].links %}
              <li class="dropDown-item animElem {% if childlink.active %}is-active{% endif %}" >
                <a href="{{ childlink.url }}" class="dropDown-link">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}  
        <li class="menu-item  grid-cell  {% if link.active %}is-active{% endif %} ">
          <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
	</ul>

</div>




{% schema %}
  {
    "name": "Collection Menu",
    "settings": [
      {
        "label": "Title",
        "id": "title",
        "type": "text"
      },
      {
        "label": "Menu",
        "id": "menu",
        "type": "link_list"
      }
    ]
  }

{% endschema %}

