
<div>

<div class="collectionCategories">
  <ul class="grid  grid--center  flex--noWrap  large-grid--flexDirectionColumn  grid--1of3  large-grid--top">
    {% for link in linklists[section.settings.high-level-menu].links %}
     <li class="menu-item  grid-cell  {% if link.active %}is-active{% endif %} ">
       <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
     </li>
   {% endfor %}

   {% for link in linklists[section.settings.menu].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% if menus[child_list_handle].links != blank %}
        <li class="menu-item grid-cell {% if link.active %}is-active{%endif%}" >
          <a href="{{ link.url }}" class="menu-link ">{{ link.title }}</a>
          <ul class="dropDown is-showing show-for-large-up">
            {% for childlink in menus[child_list_handle].links %}
              <li class="dropDown-item animElem {% if childlink.active %}is-active{% endif %}" >
                <a href="{{ childlink.url }}" class="dropDown-link">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}  
        <li class="menu-item  grid-cell  {% if link.active %}is-active{% endif %} ">
          <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
</div>

</div>




{% schema %}
  {
    "name": "Collection Categories",
    "settings": [
      {
        "label": "Title",
        "id": "high-level-title",
        "type": "text"
      },
      {
        "label": "High Level Categories",
        "id": "high-level-menu",
        "type": "link_list"
      },
      {
        "label": "Title",
        "id": "title",
        "type": "text"
      },
      {
        "label": "Specific Products",
        "id": "menu",
        "type": "link_list"
      }
    ]
  }

{% endschema %}

