
<section class="copySection  copySection--right  whiskersIntro  section--lead"  data-section-type="whiskers_intro" data-intro-section >
  <div class="row small-collapse">
    <div class="small-12 medium-11 large-10  medium-centered columns [ grid  grid--justifyCenter ]">
      <div class="copySection-inner"  data-stellar-offset-parent="true"  data-stellar-vertical-offset="25">
 
        <svg class="copySection-accent  whiskerIcon"  style="fill: #d80a2a;"  data-accent  data-index="0">
          <use xlink:href="#icon--pepper"/>

        </svg>

        <svg class="copySection-accent  whiskerIcon"  style="fill: pink;" data-accent  data-index="1">
          <use xlink:href="#icon--dolphin"/>

        </svg>

       <svg class="copySection-accent  whiskerIcon"  style="fill: #946aea;" data-accent  data-index="2">
          <use xlink:href="#icon--tree"/>

        </svg>

        <div class="row  [ grid  grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--center ]">
          <div class="small-12 columns medium-6 large-6">
              <div class="row  small-collapse">
                <div class="small-12 columns medium-12  large-10 large-push-1  [ grid  grid--justifyCenter ]">
                  <div class="copySection-copy"
                       data-stellar-ratio="1.2">
              
                    <h1 class="headline  copySection-headline " data-headline>
                      {{ section.settings.title | escape }}
                    </h1>
                          
                    <div class="copySection-body"  data-body>
                      {{ section.settings.column_richtext }}
                    </div>
        
                  </div>
            
                </div>
            
                <div class="small-12 columns medium-6  hide-for-medium-up">
                  <div class="copySection-imageContainer">
                      <img data-src="{{'transparent_shoe3.png' | asset_url}}" 
                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     alt="Whiskers Crimson & White Shoe Lace on Brown Shoe"  
                     width="420" class="lazyload">
                  </div>
                </div>
              </div>
          </div>
          
          <div class="medium-6  large-6  columns  show-for-medium-up" 
               data-stellar-ratio="1.3">
        
            <div class="copySection-imageContainer  shoeShowcase [ grid  grid--justifyCenter grid--center ]">
              <div class="shoeShowcase-slideshow [ grid  grid--justifyCenter ]" data-shoe-slideshow> 
              
                 <div class="shoeShowcase-slides  [ grid  grid--justifyCenter grid--center ]" >
                   <a href="/collections/striped/products/crimson-white"  rel="internal"  title="View Pink, Blue & White Braided" class="shoeShowcase-slide" data-slide  data-index="0">
                      <img data-src="{{'transparent_shoe3.png' | asset_url}}" 
                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     alt="Whiskers Crimson & White Shoe Lace on Brown Shoe"  
                     width="420" class="lazyload">
                     <span class="shoeShowcase-slide-name">
                       Crimson Red & White
                     </span>
                   </a>

                    <a href="/collections/diamond-weave/products/pink-blue-white-braided" rel="internal" title="View Crimson & White" class="shoeShowcase-slide" data-slide  data-index="1">
                      <img data-src="{{'transparent_shoe1.png' | asset_url}}" 
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                         alt="Whiskers Pink, Blue & White Braided Shoe Lace on Brown Shoe" 
                                         width="420" class="lazyload">
                      <span class="shoeShowcase-slide-name">
                      Pink, Blue & White Braided
                      </span>
                    </a>

                    <a href="/collections/ticked/products/purple-white-ticked" rel="internal" title="View Purple Ticked" class="shoeShowcase-slide" data-slide  data-index="2">
                      <img data-src="{{'transparent_shoe2.png' | asset_url}}" 
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     alt="Whiskers Purple Ticked Shoe Lace on Brown Shoe" 
                     width="420" class="lazyload">
                     <span class="shoeShowcase-slide-name">
                        Purple Ticked
                     </span>
                    </a>
                 </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Copy section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title for section"
      },
      {
        "type": "richtext",
        "id": "column_richtext",
        "label": "Description",
        "default": "<p>About this section</p>"
      }
    ],
    "presets": [
      {
        "name": "Default Copy Section",
        "category": "Copy Section"
      }
    ]
  }
{% endschema %}


{% javascript %}
//<script>
  

  var ShoeShowcase = {}; 

  ShoeShowcase.init =  function(pContainer) {

    var selectors = {
      copySectionImage: '[data-copy-section-image]',
      sectionHeadline: '[data-intro-headline]',
      shoeSlideshow: '[data-shoe-slideshow]',
      shoeSlideshowSlides: '[data-slide]',
      accents: '[data-accent]',
      headline: '[data-headline]',
      paragraph: '[data-body]'
    };

    this.$container = $(pContainer); 
    var self = this; 

    var initShoeSlideshow = function(pContainer) { 

      var slides = self.$container.find(selectors.shoeSlideshowSlides); 
      var accents = self.$container.find(selectors.accents); 
      var activeSlide = 0; 
      var slideTotal = slides.length;

      var setActiveSlide = function(pId, pSlides, pAccents) {

        pSlides.each(function() {
          var slide = $(this); 
          var index = slide.data('index');

          if(index == activeSlide) {
            slide.addClass('is-active');
            slide.removeClass('is-hidden');
          } else {
            slide.removeClass('is-active');
            slide.addClass('is-hidden');
          }
        });   


        pAccents.each(function() {
          var elem = $(this); 
          var index = elem.data('index');

          if(index == activeSlide) {
            elem.addClass('is-active');
            elem.removeClass('is-hidden');
          } else {
            elem.removeClass('is-active');
            elem.addClass('is-hidden');
          }
        }); 

      }; 
      
      setActiveSlide(0, slides, accents); 

      setInterval(function() {
        activeSlide = activeSlide + 1; 
        if(activeSlide > slideTotal - 1) {
          activeSlide = 0;
        }
        setActiveSlide(activeSlide, slides, accents); 
      }, 3000); 

    };


    $(pContainer).imagesLoaded().done(function() {


      //
      // Defining the animation controller with ScrollMagic 
      //        
      self.animCtrl = new ScrollMagic.Controller(); 

      //
      // Creating the animation tween with TweenMax
      //
      TweenMax.set(self.$container.find(selectors.copySectionImage) , {autoAlpha: 1});

      self.copySectionAnim = new TimelineMax()
        .from(self.$container.find(selectors.copySectionImage), .4, {y: '100%'})
        .from(self.$container.find(selectors.headline), .2, {y: '12px', opacity: 0}, .1)
        .from(self.$container.find(selectors.paragraph), .2, {y: '12px', opacity: 0}, '-=.1');


      self.sectionScene = new ScrollMagic.Scene({
        triggerElement: pContainer,
        triggerHook: 'onCenter',
        reverse: false
      })
      .setTween(self.copySectionAnim)
      .addTo(self.animCtrl)
      .on('start', function() {
        initShoeSlideshow(pContainer); 
      });
      
    }); 

  };

  ShoeShowcase.init('[data-intro-section ]'); 

//</script>   
{% endjavascript %}
