
<section class="copySection  copySection--left  copySection--alt  copySection--aboutLaces" data-section-type="about_laces">
  <div class="row small-collapse">
    <div class="small-12 medium-11 large-9  medium-centered columns [ grid  grid--justifyCenter ]">
      <div class="copySection-inner">

        <div class="copySection-accent">
         
            <img src="{{'whiskIcon--dolphin.svg' | asset_url}}" 
                 alt=""
                 role="presentation"
                 width="350">    

        </div>  

        <div class="row  grid  grid--flexDirectionColumn  med-grid--flexDirectionRowReverse  grid--center">
        
          <div class="small-12 columns medium-6 large-6">
            
              <div class="row  small-collapse">
                  
                <div class="small-12 columns medium-12  large-10 large-push-1  [ grid  grid--justifyCenter ]">
                  
                  <div class="copySection-copy"
                       data-stellar-offset-parent="true"
                       data-stellar-vertical-offset="200"
                       data-stellar-ratio="1.2">
        
                   <h1 class="headline  [ copySection-headline  copySection-headline--secondary ]">
                    {{section.settings.title}}
                   </h1>
                
                    <div class="copySection-body">
                    {{section.settings.description}}
                    </div>
                            
                    <div class="row small-collapse">
                
                      <div class="small-12 columns">
                
                        <a href="{{section.settings.cta}}" rel="internal" class="button--expanded  button button--primary button--small" data-text="{{section.settings.cta_label}}">
                        <span>{{section.settings.cta_label}}</span>
                        </a>
                      </div>
                
                    </div>
        
                  </div>
            
                </div>
            
                <div class="small-12 columns medium-6  hide-for-medium-up">
                  <div class="copySection-imageContainer">
                      <img src="{{'aboutLaces-1_small.jpg' | asset_url}}" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img">
                  </div>
                </div>
              </div>
          </div>
          
          <div class="medium-6  large-6  columns  show-for-medium-up" 
               data-stellar-vertical-offset="100"
               data-stellar-offset-parent="true"
               data-stellar-ratio="1.5">
        
            <div class="row">
              <div class="small-12  large-12 large-centered  columns">
                <div class="copySection-imageContainer  [ grid  grid--justifyCenter grid--center ]">
                
                  <div class="aboutLaces-slideshow" data-about-lace-slideshow>
                    <div class="aboutLaces-slideshow-slide"  data-slide  data-slide-index="0">
                      <picture>
                        <source srcset="{{'aboutLaces-2_large.jpg' | asset_url}}" media="(min-width: 600px)">
                        <img src="" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img">     
                      </picture>
                    </div>
                    <div class="aboutLaces-slideshow-slide"  data-slide  data-slide-index="1">
                      <picture>
                        <source srcset="{{'aboutLaces-1_large.jpg' | asset_url}}" media="(min-width: 600px)">
                        <img src="" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img">     
                      </picture>   
                    </div>  
                    <div class="aboutLaces-slideshow-slide"  data-slide  data-slide-index="2">
                      <picture>
                        <source srcset="{{'aboutLaces-3_large.jpg' | asset_url}}" media="(min-width: 600px)">
                        <img src="" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img">     
                      </picture>    
                    </div> 
                  </div>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Alt Copy section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title for section"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>About this section</p>"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "CTA Label"
      },
      {
        "type": "url",
        "id": "cta",
        "label": "Call to Action"
      }
    ],
    "presets": [
      {
        "name": "Alt Copy Section",
        "category": "Copy Section"
      }
    ]
  }
{% endschema %}
