
<section class="copySection  copySection--left  aboutLaces" data-section-type="about_laces" data-section-id="{{section.id}}"> 
  <div class="row small-collapse" data-copy-section>
    <div class="small-12 medium-11 large-9  medium-centered columns [ grid  grid--justifyCenter ]">
      <div class="copySection-inner"  data-stellar-offset-parent="true"  data-stellar-vertical-offset="25" >

      <div  data-accent-container>
        <svg class="copySection-accent  whiskerIcon"  style="fill: yellow;"  data-accent  data-index="1">
          <use xlink:href="#icon--bolt"/>
        
        </svg>
        
        <svg class="copySection-accent  whiskerIcon"  style="fill: #946aea;" data-accent  data-index="0">
          <use xlink:href="#icon--bomb"/>
        
        </svg>
        
        <svg class="copySection-accent  whiskerIcon"  style="fill: #946aea;" data-accent  data-index="2">
          <use xlink:href="#icon--pineapple"/>
        
        </svg>
      </div>

        <div class="row  grid  grid--flexDirectionColumn  med-grid--flexDirectionRowReverse  grid--center">
        
          <div class="small-12 columns medium-6 large-6">
            
              <div class="row  small-collapse">
                  
                <div class="small-12 columns medium-12  large-10 large-push-1  [ grid  grid--justifyCenter ]">
                  
                  <div class="copySection-copy" data-stellar-ratio="1.2">
        
                    <h1 class="headline  copySection-headline" data-headline>
                     {{section.settings.title}}
                    </h1>
                                    
                     <div class="copySection-body" data-body>
                     {{section.settings.description}}
                     </div>
                             
                     <div class="row small-collapse">
                                    
                       <div class="small-12 columns">
                                    
                         <a href="{{section.settings.cta}}" rel="internal" class="button--expanded  button button--primary button--small copySection-button" data-text="{{section.settings.cta_label}}" data-cta>
                         <span>{{section.settings.cta_label}}</span>
                         </a>
                       </div>
                                    
                     </div>
                  </div>
            
                </div>
            
                <div class="small-12 columns medium-6  hide-for-medium-up">
                  <div class="copySection-imageContainer">
                      <img  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-size="auto" data-src="{{'aboutLaces-1_small.jpg' | asset_url}}" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img lazyload">
                  </div>
                </div>
              </div>
          </div>
          
              
          <div class="medium-6  large-6  columns  show-for-medium-up" data-stellar-ratio="1.3" data-stellar-vertical-offset="-110"> 
        
            <div class="row  medium-collapse  large-uncollapse  row--100">
              <div class="small-12  large-12 large-centered  columns">
                <div class="copySection-imageContainer  [ grid  grid--justifyCenter grid--center ]">
                
                  <div >
                    <div class="aboutLaces-slideshow  copySection-imageContainer-image" data-about-lace-slideshow  data-copy-section-image>
                      <div class="aboutLaces-slideshow-slide"  data-slide  data-slide-index="0">
                          <img  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-size="auto" data-src="{{'aboutLaces-2_large.jpg' | asset_url}}" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img lazyload"   data-expand="800">     
                      </div>
                      <div class="aboutLaces-slideshow-slide"  data-slide  data-slide-index="1">
                        <img  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-size="auto" data-src="{{'aboutLaces-1_large.jpg' | asset_url}}" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img lazyload"   data-expand="800">    
                      </div>  
                      <div class="aboutLaces-slideshow-slide"  data-slide  data-slide-index="2">
                         <img  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-size="auto" data-src="{{'aboutLaces-3_large.jpg' | asset_url}}" alt="Whiskers Laces" width="350" class="aboutLaces-slideshow-slide-img lazyload"   data-expand="800">    
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Alt Copy section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title for section"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>About this section</p>"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "CTA Label"
      },
      {
        "type": "url",
        "id": "cta",
        "label": "Call to Action"
      }
    ],
    "presets": [
      {
        "name": "Alt Copy Section",
        "category": "Copy Section"
      }
    ]
  }
{% endschema %}




{% javascript %}
  //<script>


    var CopySectionAlt = {};
  
    CopySectionAlt.init = function(pContainer) {

      console.log(this); 

      var selectors = {
        copySectionImage: '[data-copy-section-image]',
        aboutSlideshow: '[data-about-lace-slideshow]',
        aboutSlides: '[data-slide]',
        accents: '[data-accent]',
        accentsContainer: '[data-accents]',
        headline: '[data-headline]',
        paragraph: '[data-body]',
        cta: '[data-cta]',
      };

      var self = this; 

      this.animCtrl = null;
      this.sectionScene = null; 
      this.$container = $(pContainer); 
      this.slides = this.$container.find(selectors.aboutSlides); 
      this.accents = this.$container.find(selectors.accents); 
      this.activeSlide = 0; 
      this.slideTotal = this.slides.length;


      var setActiveSlide = function(pId, pSlides, pAccents) {

        pSlides.each(function() {
          var slide = $(this); 
          var index = slide.data('slide-index');

          if(index == self.activeSlide) {
            slide.addClass('is-active');
            slide.removeClass('is-hidden');
          } else if(index == 2) {
            slide.removeClass('is-active');
            setTimeout(function() {
              slide.addClass('is-hidden'); 
            }, 600); 
          } else {
            slide.removeClass('is-active');
          }
        }); 

        pAccents.each(function() {
          var elem = $(this); 
          var index = elem.data('index');

          if(index == self.activeSlide) {
            elem.addClass('is-active');
            elem.removeClass('is-hidden');
          } else {
            elem.removeClass('is-active');
            elem.addClass('is-hidden');
          }
        }); 

      }; 
    
      var initSlideshow = function() {

        setActiveSlide(self.activeSlide, self.slides, self.accents); 

        setInterval(function() {
          self.activeSlide = self.activeSlide + 1; 
          if(self.activeSlide > self.slideTotal - 1) {
            self.activeSlide = 0;
          }
          setActiveSlide(self.activeSlide, self.slides, self.accents); 
        }, 4000); 
    
      }; 

      //
      // Waits for the section image to load with the imagesLoaded plugin 
      //
      self.$container.imagesLoaded().done(function() {

          //
          // Defining the animation controller with ScrollMagic 
          //        
          self.animCtrl = new ScrollMagic.Controller(); 

          //
          // Creating the animation tween with TweenMax
          //
          TweenMax.set(self.$container.find(selectors.copySectionImage) , {autoAlpha: 1});

          self.copySectionAnim = new TimelineMax()
            .from(self.$container.find(selectors.copySectionImage), .4, {y: '100%'})
            .from(self.$container.find(selectors.headline), .2, {y: '12px', opacity: 0}, .1)
            .from(self.$container.find(selectors.paragraph), .2, {y: '12px', opacity: 0}, '-=.1')
            .from(self.$container.find(selectors.cta), .2, {y: '12px', opacity: 0}, '-=.1')
            .from(self.$container.find(selectors.accentsContainer), .1, {opacity: 0}, '-=.1');


          self.sectionScene = new ScrollMagic.Scene({
            triggerElement: pContainer,
            triggerHook: 'onCenter',
            reverse: false
          })
          .setTween(self.copySectionAnim)
          .addTo(self.animCtrl)
          .on('start', function() {
            initSlideshow(); 
          });

      })

    }

    CopySectionAlt.init('[data-copy-section]'); 

  //</script>
{% endjavascript %}
