
<section class="copySection  copySection--right  whiskersIntro  section--lead"  data-section-type="whiskers_intro">
  <div class="row small-collapse">
    <div class="small-12 medium-11 large-10  medium-centered columns [ grid  grid--justifyCenter ]">
      <div class="copySection-inner">
    
       <svg class="copySection-accent  whiskerIcon"  style="fill: #c11e37;"  data-accent  data-index="1">
          <use xlink:href="#icon--ice_cream"/>

        </svg>

       <svg class="copySection-accent  whiskerIcon"  style="fill: pink;" data-accent  data-index="0">
          <use xlink:href="#icon--dolphin"/>

        </svg>

       <svg class="copySection-accent  whiskerIcon"  style="fill: #7e6dc2;" data-accent  data-index="2">
          <use xlink:href="#icon--pepper"/>

        </svg>

        <div class="row  [ grid  grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--center ]">
          <div class="small-12 columns medium-6 large-6">
              <div class="row  small-collapse">
                <div class="small-12 columns medium-12  large-10 large-push-1  [ grid  grid--justifyCenter ]">
                  <div class="copySection-copy"
                       data-stellar-offset-parent="true"
                       data-stellar-vertical-offset="100"
                       data-stellar-ratio="1.2">
              
                    <h1 class="headline  copySection-headline ">
                      {{ section.settings.title | escape }}
                    </h1>
                          
                    <div class="copySection-body">
                      {{ section.settings.column_richtext }}
                    </div>
        
                  </div>
            
                </div>
            
                <div class="small-12 columns medium-6  hide-for-medium-up">
                  <div class="copySection-imageContainer">
                    <div class="shoeShowcase-slideshow grid  grid--justifyCenter"> 
                    
                       <div class="shoeShowcase-slides">
                            <img src="{{'transparent_shoe1.png'  | asset_url }}" 
                              alt="" 
                              class="shoeShowcase-slide" 
                              width="420">
                         
                       </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="medium-6  large-6  columns  show-for-medium-up" 
               data-stellar-vertical-offset="100"
               data-stellar-offset-parent="true"
               data-stellar-ratio="1.5">
        
            <div class="copySection-imageContainer  shoeShowcase [ grid  grid--justifyCenter grid--center ]">
              <div class="shoeShowcase-slideshow [ grid  grid--justifyCenter ]" data-shoe-slideshow> 
              
                 <div class="shoeShowcase-slides  [ grid  grid--justifyCenter grid--center ]" >
                   <a href="/collections/striped/products/crimson-white"  rel="internal"  title="View Pink, Blue & White Braided" class="shoeShowcase-slide" data-slide  data-index="0">
                      <img data-src="{{'transparent_shoe1.png' | asset_url}}" 
                     alt="Whiskers Crimson & White Lace on Brown Shoe"  
                     width="420" class="lazyload">
                     <span class="shoeShowcase-slide-name">
                       Pink, Blue & White Braided
                     </span>
                   </a>
                    <a href="/collections/striped/products/crimson-white" rel="internal" title="View Crimson & White" class="shoeShowcase-slide" data-slide  data-index="1">
                        <img data-src="{{'transparent_shoe2.png' | asset_url}}" 
                                           alt="Whiskers Crimson & White Lace on Brown Shoe" 
                                           width="420" class="lazyload">
                        <span class="shoeShowcase-slide-name">
                       Crimson & White Striped
                        </span>
                    </a>

                    <a href="/collections/ticked/products/purple-white-ticked" rel="internal" title="View Purple Ticked" class="shoeShowcase-slide" data-slide  data-index="2">
                      <img data-src="{{'transparent_shoe3.png' | asset_url}}" 
                     alt="Whiskers Purple Ticked Lace on Brown Shoe" 
                     width="420" class="lazyload">
                     <span class="shoeShowcase-slide-name">
                       Purple Ticked
                     </span>
                    </a>
                 </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Copy section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title for section"
      },
      {
        "type": "richtext",
        "id": "column_richtext",
        "label": "Description",
        "default": "<p>About this section</p>"
      }
    ],
    "presets": [
      {
        "name": "Default Copy Section",
        "category": "Copy Section"
      }
    ]
  }
{% endschema %}
