

<div class="iconWallpaper">
  <img  class="lazyload iconWallpaper-img" data-sizes="auto" data-src=" {{'icon_wallpaper.svg' | asset_url}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Whiskers Icon Wallpaper" role="presentation" data-expand="600">
</div>

<footer>

  <div class="footer-inner">
    
    <div class="row">
      
      <div class="small-12 medium-11 large-9 large-push-3  large-uncentered   medium-centered  columns">

        <div class="row">

          <div class="small-12 columns">

            <div class="grid  grid--flexDirectionColumn   med-grid--top   med-grid--flexDirectionRow  med-grid--justifySpaceAround">

              {% for block in section.blocks %}

                <div class="">
                {% case block.type %}
                  {% when 'menu' %}
                    <ul class="footer-menu">
                      <h1 class="footer-menu-title">
                          {{ block.settings.menu_title | escape}}
                      </h1>
                      {% for link in linklists[block.settings.menu].links %}
                        <li class="footer-menu-item" >
                          <a href="{{ link.url }}" class="footer-menu-link">{{ link.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>

                  {% when 'social' %}

                    <ul class="footer-menu">

                      <h1 class="footer-menu-title">
                          {{ block.settings.menu_title | escape}}
                      </h1>

                        <ul class="footer-social [ grid  grid--center  grid--justifyStart large-grid--justifyCenter  ]">
                        <li class="footer-social-item  text-center">
                            <a target="_blank" href="https://www.facebook.com/whiskerslaces/">
                              {% include 'icon-facebook' %}
                              <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
                              <span class="hide-elem">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
                            </a>
                         </li>

                        <li class="footer-social-item  text-center">
                            <a target="_blank" href="https://www.instagram.com/whiskerslaces/">
                              {% include 'icon-instagram' %}
                              <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
                              <span class="hide-elem">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
                            </a>
                         </li>

                        <li class="footer-social-item  show-for-medium-up">
                          <a href="https://www.instagram.com/explore/tags/whiskerslaces/"  target="_blank" class="footer-social-tag">#whiskerslaces</a>
                        </li>

                      </ul>
                    </ul>

                    {% else %}
                    
                  <div class="footer-menu">
                    <label class="footer-menu-title">
                        
                        Newsletter
                        
                    </label>
                    
                    <input type="text" 
                           placeholder="Your Email"
                           class="input--small"> 

                    <button class="button--micro  button--tertiary">
                      Sign Up
                    </button>
                  </div>
          
                {% endcase %}
                </div>
              {% endfor %}

            </div>

          </div>
          
        </div>

      </div>

      <div class="small-12 large-3  large-pull-9   columns">
                  
        <div class="row">

          <div class="small-11  medium-4  large-11  columns small-centered">

            <div class="footer-logo">
<title>
  Whiskers logo with "Tastefully Wrong" Slogan
</title>
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.2 55.3"><style>.st0{fill:#f5f5f5}.st1{fill:#3fd5ae}</style><path class="st0" d="M53.6 6.1c0-1 .8-1.7 1.7-1.7 1 0 1.7.8 1.7 1.7v12.1h17.6V6.1c0-1 .8-1.7 1.7-1.7.9 0 1.7.8 1.7 1.7v27.5c0 1-.8 1.7-1.7 1.7-1 0-1.7-.8-1.7-1.7V21.4H57v12.2c0 1-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7V6.1zM92.5 6.1c0-1 .8-1.7 1.7-1.7 1 0 1.7.8 1.7 1.7v27.5c0 1-.8 1.7-1.7 1.7-.9 0-1.7-.8-1.7-1.7V6.1zM109.5 31.5c-.4-.3-.7-.7-.7-1.3 0-1 .7-1.7 1.7-1.7.4 0 .8.2 1 .4 2.9 2.4 5.8 3.6 9.7 3.6 4.1 0 6.8-2.2 6.8-5.2v-.1c0-2.8-1.5-4.5-8-5.8-7-1.5-10.3-3.8-10.3-8.8v-.1c0-4.8 4.2-8.3 10-8.3 4 0 6.9 1 9.7 3 .3.3.7.7.7 1.4 0 .9-.7 1.7-1.7 1.7-.4 0-.7-.1-1-.3-2.6-1.9-5.1-2.7-7.9-2.7-4 0-6.5 2.2-6.5 4.9v.1c0 2.9 1.6 4.5 8.3 5.9 6.8 1.5 10 4 10 8.7v.1c0 5.2-4.4 8.7-10.4 8.7-4.3-.1-8-1.5-11.4-4.2z"/><path class="st1" d="M182.3 7.5h19.4c.9 0 1.6-.7 1.6-1.6 0-.9-.7-1.6-1.6-1.6h-19.4c-.9 0-1.6.7-1.6 1.6 0 .9.7 1.6 1.6 1.6zM182.3 21.4h19.4c.9 0 1.6-.7 1.6-1.6 0-.9-.7-1.6-1.6-1.6h-19.4c-.9 0-1.6.7-1.6 1.6 0 .9.7 1.6 1.6 1.6zM182.3 35.3h19.4c.9 0 1.6-.7 1.6-1.6 0-.9-.7-1.6-1.6-1.6h-19.4c-.9 0-1.6.7-1.6 1.6 0 .9.7 1.6 1.6 1.6z"/><path class="st0" d="M251.2 31.6c-.4-.3-.7-.7-.7-1.3 0-1 .7-1.7 1.7-1.7.4 0 .8.2 1 .4 2.9 2.4 5.8 3.6 9.7 3.6 4.1 0 6.8-2.2 6.8-5.2v-.1c0-2.8-1.5-4.5-8-5.8-7-1.5-10.3-3.8-10.3-8.8v-.1c0-4.8 4.2-8.3 10-8.3 4 0 6.9 1 9.7 3 .3.3.7.7.7 1.4 0 .9-.7 1.7-1.7 1.7-.4 0-.7-.1-1-.3-2.6-1.9-5.1-2.7-7.9-2.7-4 0-6.5 2.2-6.5 4.9v.1c0 2.9 1.6 4.5 8.3 5.9 6.8 1.5 10 4 10 8.7v.1c0 5.2-4.4 8.7-10.4 8.7-4.3-.1-8-1.5-11.4-4.2zM143.7 5.9c0-1 .8-1.8 1.7-1.8 1 0 1.8.8 1.8 1.8v17l17.7-18.1c.4-.4.8-.6 1.4-.6.9 0 1.7.8 1.7 1.7 0 .5-.2.9-.6 1.2l-11 10.9 11.8 14.5c.3.4.5.8.5 1.3 0 .9-.8 1.8-1.8 1.8-.7 0-1.1-.4-1.4-.8l-11.6-14.4-6.7 6.7v6.7c0 1-.8 1.8-1.8 1.8-.9 0-1.7-.8-1.7-1.8V5.9zM42.1 4.3c-.8-.2-1.7.3-2 1.1L29.8 29.5 19.4 5.4c-.3-.8-1.2-1.3-2-1.1-1.1.3-1.6 1.4-1.2 2.3l3.7 8.5-6.3 14.5L3.3 5.5c-.3-.8-1.2-1.3-2-1.1C.3 4.7-.3 5.8.1 6.8L12 34.7c.6 1.4 2.5 1.4 3.1 0l6.6-15.2 6.6 15.1c.6 1.4 2.5 1.4 3.1 0l11.9-28c.4-.9-.1-2-1.2-2.3z"/><g><path class="st0" d="M216.1 6.1c0-1 .8-1.8 1.7-1.8h11.6c3.8 0 6.9 1.2 8.8 3.1 1.5 1.5 2.4 3.7 2.4 6.1v.1c0 5.1-3.5 8.1-8.3 9l7.7 9.9c.4.4.6.8.6 1.3 0 .9-.9 1.7-1.8 1.7-.7 0-1.2-.4-1.6-.9l-8.7-11.3h-8.9v10.5c0 1-.8 1.8-1.8 1.8-.9 0-1.7-.8-1.7-1.8V6.1zm13 14.1c4.7 0 8-2.4 8-6.4v-.1c0-3.8-2.9-6.1-7.9-6.1h-9.6v12.6h9.5z"/></g><g><path class="st0" d="M57.7 44.5v1.3H55v9.3h-1.4v-9.3h-2.8v-1.3h6.9zM62.7 52.4l-.9 2.7h-1.5l3.4-10.6h1.5l3.4 10.6h-1.4l-.9-2.7h-3.6zm3.4-1.2l-1.5-5-1.5 5h3zM73.7 52c0 .9.6 1.9 1.8 1.9 1.3 0 1.9-.8 1.9-1.6.1-1.3-.9-1.7-1.6-1.9l-1.2-.3c-2-.6-2.3-1.8-2.3-2.7 0-1.8 1.2-3 3-3 1.7 0 3 1.2 3 3.1H77c0-1.1-.7-1.8-1.7-1.8-1.1 0-1.7.7-1.7 1.7 0 .5.2 1.1 1.3 1.5l1.2.3c1.2.3 2.7 1.1 2.6 3.3-.1 1.5-1.2 2.8-3.3 2.8s-3.2-1.6-3.2-3.2h1.5zM89.4 44.5v1.3h-2.8v9.3h-1.4v-9.3h-2.8v-1.3h7zM99.4 44.5v1.3h-4.1v3.4h3.6v1.3h-3.6v3.3h4.3v1.3H94V44.5h5.4zM109.7 44.5v1.3h-4.1v3.4h3.3v1.3h-3.3v4.6h-1.4V44.5h5.5zM119.5 51.7v-7.2h1.4v7.2c0 2.3-1.5 3.6-3.4 3.6-1.8 0-3.4-1.2-3.4-3.6v-7.2h1.4v7.2c0 1.5.9 2.2 2 2.2s2-.7 2-2.2zM126.5 44.5v9.3h3.7v1.3h-5.1V44.5h1.4zM136 44.5v9.3h3.7v1.3h-5.1V44.5h1.4zM145.1 55.1v-4.9l-3.4-5.7h1.6l2.5 4.4 2.6-4.4h1.6l-3.5 5.7v4.9h-1.4zM171.1 44.5L168 55.1h-1.2l-1.5-6.3-1.5 6.3h-1.2l-3.1-10.6h1.5l2.2 8.1 1.6-6.6h1.1l1.6 6.6 2.2-8.1h1.4zM179 44.5c2.1 0 2.8 1.7 2.8 3.3 0 1.5-.6 3-2.3 3.3l2.4 4h-1.6l-2.3-4h-1.2v4h-1.4V44.5h3.6zm-2.2 1.3v4h2c1.3 0 1.7-1 1.7-2s-.4-2-1.6-2h-2.1zM186.3 49.8c0-3.3 2-5.5 4.6-5.5 2.6 0 4.6 2.1 4.6 5.5 0 3.3-2 5.5-4.6 5.5-2.6 0-4.6-2.2-4.6-5.5zm7.9 0c0-2.5-1.4-4.1-3.3-4.1-1.8 0-3.3 1.6-3.3 4.1 0 2.5 1.4 4.1 3.3 4.1s3.3-1.6 3.3-4.1zM205.5 55.1l-4-7.9v7.9h-1.4V44.5h1.3l3.9 7.8v-7.8h1.4v10.6h-1.2zM218.4 46.9c-.6-.8-1.5-1.2-2.2-1.2-1.8 0-3.3 1.4-3.3 4.1 0 2.6 1.3 4.1 3.1 4.1s2.6-1.2 2.8-2.9h-2.5v-1.3h4c0 3.7-1.8 5.5-4.2 5.5-2.6 0-4.5-2.2-4.5-5.5 0-3.4 2.1-5.5 4.7-5.5 1.3 0 2.4.6 3.2 1.5l-1.1 1.2z"/></g></svg>
            </div>

          </div>

        </div>

      </div> 

    </div>

    <div class="row">
      
      <div class="small-12  columns text-center  large-text-left">

        <div class="footer-credit">
            Tastefully Wrong | {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}
        </div>

      </div>

    </div>

  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Footer Section",
        "settings": [
        {
          "id" : "menu_title",
          "type" : "text",
          "label": "Menu Title",
          "default": "Title"
        },
        {
          "id": "menu",
          "type": "link_list",
          "label": "Footer Link List"
        }]
      },
      {
        "type": "social",
        "name": "Footer Social Links",
        "limit": 1,
        "settings": [
        {
          "id" : "menu_title",
          "type" : "text",
          "label": "Menu Title",
          "default": "Title"
        },
        {
          "type" : "paragraph",
          "content": "Edit your social settings and accounts in General settings"
        }]
      }
    ]
  }

{% endschema %}
