

<div class="iconWallpaper">
  <img  class="iconWallpaper-img" src="{{'icon_wallpaper.svg' | asset_url}}" alt="" role="presentation">
</div>

<footer>

  <div class="footer-inner">
    
    <div class="row">
      
      <div class="small-12 medium-11 large-9 large-push-3  large-uncentered   medium-centered  columns">

        <div class="row">

          <div class="small-12 columns">

            <div class="grid  grid--center   grid--flexDirectinColumn  med-grid--flexDirectinRow  med-grid--justifySpaceAround">

              {% for block in section.blocks %}

                <div class="">
                {% case block.type %}
                  {% when 'menu' %}
                    <ul class="footer-menu">
                      <h1 class="footer-menu-title">
                          {{ block.settings.menu_title | escape}}
                      </h1>
                      {% for link in linklists[block.settings.menu].links %}
                        <li class="footer-menu-item" >
                          <a href="{{ link.url }}" class="footer-menu-link">{{ link.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>

                  {% when 'social' %}

                    <ul class="footer-menu">

                      <h1 class="footer-menu-title">
                          {{ block.settings.menu_title | escape}}
                      </h1>

                        <ul class="footer-social [ grid  grid--center  grid--justifyStart large-grid--justifyCenter  ]">
                        <li class="footer-social-item  text-center">
                            <a target="_blank" href="https://www.facebook.com/whiskerslaces/">
                              {% include 'icon-facebook' %}
                              <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
                              <span class="hide-elem">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
                            </a>
                         </li>

                        <li class="footer-social-item  text-center">
                            <a target="_blank" href="https://www.instagram.com/whiskerslaces/">
                              {% include 'icon-instagram' %}
                              <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
                              <span class="hide-elem">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
                            </a>
                         </li>

                        <li class="footer-social-item  show-for-medium-up">
                          <a href="https://www.instagram.com/explore/tags/whiskerslaces/"  target="_blank" class="footer-social-tag">#whiskerslaces</a>
                        </li>

                      </ul>
                    </ul>

                    {% else %}
                    
                  <div class="footer-menu">
                    <label class="footer-menu-title">
                        
                        Newsletter
                        
                    </label>
                    
                    <input type="text" 
                           placeholder="Your Email"
                           class="input--small"> 

                    <button class="button--micro  button--tertiary">
                      Sign Up
                    </button>
                  </div>
          
                {% endcase %}
                </div>
              {% endfor %}

            </div>

          </div>
          
        </div>

      </div>

      <div class="small-12 large-3  large-pull-9   columns">
                  
        <div class="row">

          <div class="small-11  medium-4  large-11  columns small-centered">

            <div class="footer-logo">
              <img src="{{'logo--whiskers--slogan.svg'  | asset_url}}" 
                   alt="Whiskers Laces Logo">
            </div>

          </div>

        </div>

      </div> 

    </div>

    <div class="row">
      
      <div class="small-12  columns text-center  large-text-left">

        <div class="footer-credit">

          <span class="txtc1  ff2 text-mini">
            Tastefully Wrong | {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}
          </span>
          
        </div>

      </div>

    </div>

  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Footer Section",
        "settings": [
        {
          "id" : "menu_title",
          "type" : "text",
          "label": "Menu Title",
          "default": "Title"
        },
        {
          "id": "menu",
          "type": "link_list",
          "label": "Footer Link List"
        }]
      },
      {
        "type": "social",
        "name": "Footer Social Links",
        "limit": 1,
        "settings": [
        {
          "id" : "menu_title",
          "type" : "text",
          "label": "Menu Title",
          "default": "Title"
        },
        {
          "type" : "paragraph",
          "content": "Edit your social settings and accounts in General settings"
        }]
      }
    ]
  }

{% endschema %}
