

<footer>
<div class="iconWallpaper">
  <img  class="iconWallpaper-img" src="{{'icon_wallpaper.svg' | asset_url}}" alt="" role="presentation">
</div>

  <div class="footer-inner">
    
    <div class="row">
      
      <div class="small-12 medium-11 large-9 large-push-3  large-uncentered   medium-centered  columns">

        <div class="row">

          <div class="small-12 columns medium-9 large-8">

            <div class="row">
              <div class="small-12  medium-4 columns">
                  
                <ul class="footer-menu">
              
                  <li class="footer-menu-title">
                    Shop
                  </li>
                  
                  <li class="footer-menu-item">
                    <a ui-sref="main.shopLaces({productType: 'laces'})" class="footer-menu-link">Laces</a>
                  </li>
              
                  <li class="footer-menu-item">
                    <a ui-sref="main.shopBoxes" class="footer-menu-link">Lace Box Sets</a>
                  </li>
              
                </ul>
              
              </div>
              
              <div class="small-12  medium-4  columns">
                  
                <ul class="footer-menu">
              
                  <li class="footer-menu-title">
                    Info
                  </li>
                  
                  <li class="footer-menu-item">
                    <a ui-sref="main.lacingStyles"  class="footer-menu-link">Lacing Styles</a>
                  </li>
              
                  <li class="footer-menu-item">
                    <a ui-sref="main.ethos" class="footer-menu-link">Ethos</a>
                  </li>
                  
                </ul>
              
              </div>
              
              
              <div class="small-12  medium-4 columns">
                  
                <ul class="footer-menu">
              
                  <li class="footer-menu-title">
                    Support
                  </li>
                  
                  <li class="footer-menu-item">
                    <a ui-sref="main.sales" class="footer-menu-link">Sales</a>
                  </li>
              
                  <li class="footer-menu-item">
                    <a ui-sref="main.faq" class="footer-menu-link">Faq</a>
                  </li>
                  
                </ul>
              
              </div>
            </div>

          </div>
          
          
          <div class="small-12  medium-3 large-4 columns">
                    
         <!--    <div class="footer-menu">
              <label class="footer-menu-title">
                  
                  Newsletter
                  
              </label>
              
              <input type="text" 
                     placeholder="Your Email"
                     class="input--small"> 

              <button class="button--micro  button--tertiary">
                Sign Up
              </button>
            </div>
           -->
          </div>

        </div>

      </div>

      <div class="small-12 large-3  large-pull-9   columns">
                  
        <div class="row">

          <div class="small-11  medium-4  large-11  columns small-centered">

            <div class="footer-logo">
              <img src="{{'logo--whiskers--slogan.svg'  | asset_url}}" 
                   alt="Whiskers Logo">
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="row">
      
      <div class="small-12  columns text-center  large-text-left">

        <div class="footer-siteCredit">

          <span class="txtc1  ff2 text-mini">
            Tastefully Wrong | {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}
          </span>
          
        </div>

      </div>

    </div>

  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
