
<section  data-section-type="hero_header"  data-section-id="{{ section.id }}">
  <div class="heroHeader grid grid--flexDirectionColumn med-grid--flexDirectionRow med-grid--flexDirectionRowReverse  ">
    <div class="heroHeader-bg">
       <div class="heroHeader-bg-inner">

          <img src="{{'home_header_small3.jpg' | asset_url}}" alt="Whiskers Shoelaces" class="hide-for-medium-up  heroHeader-bg-img" role="presentation">
    
          <div class="heroHeader-bg-slideshow  heroSlideshow show-for-medium-up"  role="presentation"  data-slideshow>
            {% for block in section.blocks %}
            <div class="heroSlideshow-slide" data-slide  data-index="{{forloop.index0}}" data-block-id="{{block.id}}">
              <div class="heroSlideshow-slide-img"  
                   style="background-image: url({{block.settings.hero_image.src | img_url: '1400x1400'}});">
              </div>
            </div>
            {%endfor%}
        </div>
      </div>
  
    </div>
  
    <div class="heroHeader-content  grid  grid--center grid--justifyCenter">
  
      <div class="heroHeader-content-inner  grid  grid--center">
  
        <div class="row">
        
          <div class="small-12  large-11 large-centered  columns">
        
            <div class="heroHeader-content-slides">
              {% for block in section.blocks %}
                <div class="heroHeader-content-slide" {{ block.shopify_attributes }} data-block-id="{{block.id}}" data-index="{{forloop.index0}}" data-content-slide>
                  <div  class="row  heroHeader-headlines  small-collapse  grid  grid--center  grid--justifyCenter" data-headlines>
                   <div class="small-12 columns">
                      <h1 class="heroHeader-headline  text-center" data-headline data-index="{{forloop.index0}}">
                        {{block.settings.headline}}
                     </h1>
                   </div>
                  </div>
                          
                  <div class="row"  data-ctas>
                    <div class="small-8 columns small-centered">
                      <div class="grid grid--center grid--flexDirectionColumn  grid--justifyCenter">
                        <a href="{{block.settings.url}}" rel="internal" class="button  button--small  button--expanded  button--primary  heroHeader-cta" data-text="{{block.settings.cta}}" data-cta data-index="{{forloop.index0}}">
                          <span>{{block.settings.cta}}</span>
                        </a>
                        <div class="heroHeader-accentContainer">
                           <svg class="heroHeader-accent  whiskerIcon"  style="fill: {{block.settings.icon_color}};"  data-accent  data-index="{{forloop.index0}}">
                              <use xlink:href="#icon--{{block.settings.icon_name}}"/>
                        
                            </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero Header",
    "max_blocks": 3,
    "settings": [
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "Announcment", 
        "settings": [
          {
          "label": "Headline",
          "id": "headline", 
          "type": "text"
          },
          {
          "label": "cta",
          "id": "cta", 
          "type": "text"
          },
          {
          "label": "Page",
          "id": "url", 
          "type": "url"
          },
          {
          "label": "Hero Image",
          "id": "hero_image", 
          "type": "image_picker"
          },
         {
          "label": "Icon Name",
          "id": "icon_name", 
          "type": "text"
          },
         {
          "label": "Icon Color",
          "id": "icon_color", 
          "type": "color"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Header",
        "category": "Hero Header"
      }
    ]
  }
{% endschema %}
