
<section  data-section-type="hero_header">
  <div class="heroHeader grid grid--flexDirectionColumn med-grid--flexDirectionRow med-grid--flexDirectionRowReverse  ">
    <div class="heroHeader-bg">
       <div class="heroHeader-bg-inner">

          <img src="{{'home_header_small1.png' | asset_url}}" alt="Whiskers Shoelaces" class="hide-for-medium-up  heroHeader-bg-img" role="presentation">
    
          <div class="heroHeader-bg-slideshow  heroSlideshow show-for-medium-up"  role="presentation"  data-slideshow>
            <div class="heroSlideshow-slide" data-slide  data-index="0">
              <div class="heroSlideshow-slide-img"  
                   style="background-image: url({{'home_header_large1.jpg' | asset_url}});">
              </div>
            </div>
            <div class="heroSlideshow-slide" data-slide  data-index="1">
              <div class="heroSlideshow-slide-img"  
                   style="background-image: url({{'home_header_large2.jpg' | asset_url}});">
              </div>
            </div>

            <div class="heroSlideshow-slide" data-slide  data-index="2">
              <div class="heroSlideshow-slide-img"  
                   style="background-image: url({{'home_header_large3.jpg' | asset_url}});">
              </div>
            </div>
        </div>
      </div>
  
    </div>
  
    <div class="heroHeader-content  grid  grid--center grid--justifyCenter">
  
      <div class="heroHeader-content-inner  grid  grid--center">
  
        <div class="row">
        
          <div class="small-12  large-11 large-centered  columns">
        
            <h1 class="heroHeader-headline  text-center" data-headline>
               {{section.settings.headline}}
            </h1>
        
            <div class="row">
              <div class="small-8 columns small-centered">
                <div class="grid grid--justifyCenter grid--flexDirectionColumn  grid--center">
                  <a href="{{section.settings.cta}}" rel="internal" class="button  button--small  button--expanded  button--primary  heroHeader-cta" data-text="{{section.settings.cta_label}}" data-cta>
                    <span>{{section.settings.cta_label}}</span>
                  </a>
                    
                  <div class="heroHeader-accentContainer">
                     <svg class="heroHeader-accent  whiskerIcon"  style="fill: #9ad4b8;" data-accent  data-index="0">
                        <use xlink:href="#icon--horseshoe"/>
                  
                      </svg>
                      
                     <svg class="heroHeader-accent  whiskerIcon"  style="fill: #c11e37;"  data-accent  data-index="1">
                        <use xlink:href="#icon--lucky"/>
                  
                      </svg>
                  
                     <svg class="heroHeader-accent  whiskerIcon"  style="fill: pink;" data-accent  data-index="2">
                        <use xlink:href="#icon--sunglasses"/>
                  
                      </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero Header",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Headline",
        "default": "Headline for hero header"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "CTA Label"
      },
      {
        "type": "url",
        "id": "cta",
        "label": "Call to Action"
      }
    ],
    "presets": [
      {
        "name": "Hero Header",
        "category": "Hero Header"
      }
    ]
  }
{% endschema %}
