
<section  class="lookBookSlideshow"  data-section-id="{{ section.id }}" data-section-type="lookbook_slideshow2" data-trigger-2>
    <ul class="lookBookSlideshow-slideshow" data-lookbook-slideshow-2>
      <li class="  grid-cell  grid-cell--autoSize">
        <a href="/collections/solids/products/solid-yellow"  title="Whiskers Solid Yellow Laces">
        <div class="lookBookSlideshow-look ">
          <img  data-src="{{ 'look_5.jpg' | asset_url}}" alt="Whiskers Solid Yellow Laces" class="lazyload" data-size="auto">
          <span class="lookBookSlideshow-look-name">
           Solid Yellow
          </span>
        </div>
      </a>
      </li>
      <li class="  grid-cell  grid-cell--autoSize">
        <a href="/collections/diamond-weave/products/blue-light-blue-yellow-braided"  title="Blue, Light Blue & Yellow Braided">
        <div class="lookBookSlideshow-look ">
          <img  data-src="{{ 'look_8.jpg' | asset_url}}" alt="Whiskers Blue, Light Blue & Yellow Braided Laces"  class="lazyload" data-size="auto">
          <span class="lookBookSlideshow-look-name">
            Blue, Light Blue & Yellow Braided
          </span>
        </div>
        </a>
      </li>
      <li class="  grid-cell  grid-cell--autoSize">
        <a href="/collections/diamond-weave/products/solid-red"  title="Whiskers Solid Red Laces"  >
          <div class="lookBookSlideshow-look ">
            <img  data-src="{{ 'look_6.jpg' | asset_url}}" alt="Whiskers Solid Red Laces" class="lazyload" data-size="auto">
            <span class="lookBookSlideshow-look-name">
              Solid Red
            </span>
          </div>
        </a>
      </li>
      <li class="  grid-cell  grid-cell--autoSize">
        <a href="/collections/diamond-weave/products/red-white-blue-braided" title="Whiskers Blue, Red & White Braided">
            <div class="lookBookSlideshow-look ">
            <img  data-src="{{ 'look_9.jpg' | asset_url}}" alt="Whiskers Blue, Red & White Braided Laces"  class="lazyload" data-size="auto">
            <span class="lookBookSlideshow-look-name">
              Blue, Red & White Braided
            </span>
          </div>
        </a>
      </li>
    </ul>
    <div class="lookBookSlideshow-slideForMore  hide-for-large-up">
      Swipe right for more looks
    </div>
</section>

