
<section data-section-id="{{ section.id }}" data-section-type="lookbook_slideshow">
  <div  class="lookBookSlideshow" >
    <ul class="lookBookSlideshow-slideshow" data-lookbook-slideshow>
      <li>
        <div class="lookBookSlideshow-look">
          <img  src="{{ 'look_1.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
            Light Blue Solids
          </span>
        </div>
      </li>
      <li>
        <div class="lookBookSlideshow-look">
          <img  src="{{ 'look_2.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
            Light blue & Dark Blue Striped
          </span>
        </div>
      </li>
      <li>
        <div class="lookBookSlideshow-look">
          <img  src="{{ 'look_3.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
           Red Solids
          </span>
        </div>
      </li>
      <li>
        <div class="lookBookSlideshow-look">
          <img  src="{{ 'look_4.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
            Black, Red & White Braided
          </span>
        </div>
      </li>
    </ul>
    <div class="lookBookSlideshow-slideForMore">
      Swipe right for more looks
    </div>
  </div>
</section>