
<section class="lookBookSlideshow"  data-section-id="{{ section.id }}" data-section-type="lookbook_slideshow"  data-trigger> 
    <ul class="lookBookSlideshow-slideshow   grid  grid--center  grid--justifySpaceAround  med-grid--1of3" data-lookbook-slideshow>
      <li class="grid-cell  grid-cell--autoSize">
        <a href="/collections/solids/products/solid-light-blue"  title="Whiskers Light blue & Dark Blue Striped">
          <div class="lookBookSlideshow-look" data-look>
            <div class="lookbookSlideshow-look-image">
              <img data-size="auto" data-src="{{ 'look_1.jpg' | asset_url}}" alt="Light Blue Solids" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-look-img>
            </div>
            <span class="lookBookSlideshow-look-name">
              Solid Light Blue
            </span>
          </div>
        </a>
      </li>
      <li class="grid-cell  grid-cell--autoSize">
        <a href="/collections/striped/products/blue-light-blue-striped" title="Whiskers Light blue & Dark Blue Striped">
          <div class="lookBookSlideshow-look" data-look>
            <div class="lookbookSlideshow-look-image">
              <img  data-size="auto" data-src="{{ 'look_2.jpg' | asset_url}}" alt="Light blue & Dark Blue Striped" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-look-img>
            </div>
            <span class="lookBookSlideshow-look-name">
              Light blue & Dark Blue Striped
            </span>
          </div>
        </a>
      </li>
      <li class="grid-cell  grid-cell--autoSize">
        <a href="/collections/striped/products/solid-red" title="Red Solids">
        <div class="lookBookSlideshow-look" data-look>
          <div class="lookbookSlideshow-look-image">
            <img  data-size="auto" data-src="{{ 'look_3.jpg' | asset_url}}" alt="Red Solids" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-look-img>
          </div>
          <span class="lookBookSlideshow-look-name">
           Red Solids
          </span>
        </div>
        </a>
      </li>
      <li class="grid-cell  grid-cell--autoSize">
        <a href="/collections/diamond-weave/products/red-black-white-braided" title="Whiskers Black, Red & White Braided">
        <div class="lookBookSlideshow-look" data-look>
          <div class="lookbookSlideshow-look-image">
            <img  data-size="auto" data-src="{{ 'look_4.jpg' | asset_url}}" alt="Black, Red & white Braided" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-look-img>
          </div>
          <span class="lookBookSlideshow-look-name">
            Black, Red & White Braided
          </span>
        </div>
      </a>
      </li>
    </ul>
    <div class="lookBookSlideshow-slideForMore  hide-for-large-up">
      Swipe right for more looks
    </div>
</section>


{%javascript %}
//<script>


  //
  // Handles all the animations and interactivity
  // of the first slideshow in the lookbook 
  //
  function lookbookSlideshow(container) { 

    var selectors = {
      lookbookSlideshow: '[data-lookbook-slideshow]',
      looks: '[data-look]',
      trigger: '[data-trigger]'
    };

    var slideshow = {
    
      animCtrl: null,
      entryAnimCtrl: null, 
      scrollScene: null,
      reInitTimeout: null,
      container: container,

      //
      // Sets up the necessary interactivity depending on the device width  
      //
      initInteractivity: function() {

        var self = this; 

        $carousel = $(selectors.lookbookSlideshow); 

        if(this.animCtrl !== null) {
          this.animCtrl.destroy(this.scrollScene); 
          this.animCtrl.destroy();
          this.animCtrl = null; 
          this.scrollScene.destroy(); 
          this.scrollScene = null; 
          $carousel.removeAttr("style");
        }

        if(window.innerWidth < 641) {
          $carousel.removeClass("grid  grid--center  med-grid--justifySpaceAround  med-grid--1of3");
          $carousel.not('.slick-initialized').slick({
            'arrows': false,
            'slidesToShow': 1,
            'mobileFirst': true,
            'autoplaySpeed': 2500,
            'infinite': false,
            'centerPadding': '40px',
            'responsive' : [
                {
                  breakpoint: 640, 
                  settings: 'unslick'
                }
              ]
            });
            var nextBtn = $(container.container).find('.slick-next');
            var prevBtn = $(container.container).find('.slick-prev');
            nextBtn.text('');
            prevBtn.text('');
        } else {

          $carousel.addClass("grid  grid--center  med-grid--justifySpaceAround  med-grid--1of3");
          this.animCtrl = new ScrollMagic.Controller(); 

          var containerWidth = $(this.container).find(selectors.lookbookSlideshow).innerWidth(); 
          var wipeAnimation = new TimelineMax()
            .fromTo(selectors.lookbookSlideshow, 20, { x: "50%"}, { x: "-30%"});

          this.scrollScene = new ScrollMagic.Scene({
              triggerElement: selectors.trigger,
              triggerHook: 'onLeave', 
              offset: -125,
              duration:  (containerWidth) + 'px'
            })
            .setPin(self.container)
            .setTween(wipeAnimation)
            .addTo(self.animCtrl); 

            setTimeout(function() {
              $(window).data('plugin_stellar').destroy();
              $(window).data('plugin_stellar').init();
            }, 400); 
        }

        this.initAnimations(); 
      },

      //
      // Sets up entry animations using the same animation controller 
      //
      initAnimations: function() {
      
        var self = this; 

        if(this.entryAnimCtrl === null) {
          this.entryAnimCtrl = new ScrollMagic.Controller(); 
        }
        
        //
        // Defines the entry animations for our looks
        //
        $(selectors.looks).each(function(index, element) {
          
          var look = element;

          TweenMax.set($(look).find('[data-look-img]'), {autoAlpha: 1});

          var lookEntry = new TimelineLite()
                  .from($(look).find('[data-look-img]'), .3, {opacity: 0}, .04 * (index + 1));

          var lookScene = new ScrollMagic.Scene({
              triggerElement: look,
              triggerHook: 'onCenter',
              offset: 100, 
              reverse: false
            })
            .setTween(lookEntry)
            .addTo(self.entryAnimCtrl); 
        });
      }

    }; 

    setTimeout(function() {
      slideshow.initInteractivity(); 
    }, 200); 

    window.addEventListener('resize', function() {
      clearTimeout(slideshow.reInitTimeout); 
      slideshow.reInitTimeout = setTimeout(slideshow.initInteractivity(), 1400); 
    }); 

  };

  lookbookSlideshow('[data-section-id="lookbook-slideshow"]'); 

//</script>
{% endjavascript %}
