
<section data-section-id="{{ section.id }}" data-section-type="lookbook_slideshow2" data-trigger-2>
  <div  class="lookBookSlideshow" >
    <ul class="lookBookSlideshow-slideshow    grid  grid--center  grid--justifySpaceAround  med-grid--1of3 " data-lookbook-slideshow-2>
      <li class="  grid  grid--center  grid--justifySpaceAround  med-grid--1of3">
        <div class="lookBookSlideshow-look ">
          <img  src="{{ 'look_5.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
           Yellow Solids
          </span>
        </div>
      </li>
      <li class="  grid  grid--center  grid--justifySpaceAround  med-grid--1of3">
        <div class="lookBookSlideshow-look ">
          <img  src="{{ 'look_7.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
           Black Ticked
          </span>
        </div>
      </li>
      <li class="  grid  grid--center  grid--justifySpaceAround  med-grid--1of3">
        <div class="lookBookSlideshow-look ">
          <img  src="{{ 'look_8.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
            Blue, Light Blue & Yellow Braided
          </span>
        </div>
      </li>
      <li class="  grid  grid--center  grid--justifySpaceAround  med-grid--1of3">
        <div class="lookBookSlideshow-look ">
          <img  src="{{ 'look_6.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
            Red Solids 
          </span>
        </div>
      </li>
      <li class="  grid  grid--center  grid--justifySpaceAround  med-grid--1of3">
        <div class="lookBookSlideshow-look ">
          <img  src="{{ 'look_9.jpg' | asset_url}}" alt="">
          <span class="lookBookSlideshow-look-name">
            Blue, Red & White Braided
          </span>
        </div>
      </li>
    </ul>
    <div class="lookBookSlideshow-slideForMore  hide-for-large-up">
      Swipe right for more looks
    </div>
  </div>
</section>

