
<section class="newsletter">
  <div class="copySection  copySection--center">   
    <div class="row  small-collapse">
      <div class="small-12  medium-11  large-9 medium-centered  columns">
        <div class="copySection-inner">  
          <div class="row [ grid  grid--flexDirectionColumn  med-grid--flexDirectionRow grid--center ]">   

            <div class="small-12 columns  medium-6  large-5">  
              <div class="row small-collapse">
                <div class="small-12 columns  grid  grid--justifyCenter">
                    <div class="newsletter-description">
                      {% unless section.settings.heading == blank %}
                        <h1 class="subline  newsletter-headline">{{ section.settings.heading | escape }}</h1>
                      {% endunless %}
                      {% unless section.settings.subheading == blank %}
                         <p class="newsletter-body">{{ section.settings.subheading | escape }}</p>
                      {% endunless %}
                  </div>
                </div>
              </div>
            </div>

            <div class="small-12 columns  medium-6  large-7"> 
              <div class="row small-collapse">
                <div class="small-12 columns   grid  grid--justifyCenter">
                  <div class="newsletter-form">
                    {% form 'customer' %}
                    <div class="newsletter-form-errors"> {{ form.errors | default_errors }}</div>
                    {% if form.posted_successfully? %}
                      <div class="newsletter-form-success">
                        <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
                      </div>
                    {% else %}
                      <label for="Email" class="newsletter__label hidden-label hide-elem">Email</label>
                      <input type="hidden" name="contact[tags]" value="newsletter">
                    
                      <div class="grid  grid--center  grid--stretch grid--flexDirectionColumn med-grid--bottom">
                        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="Email" class="newsletter-form-input {%if form.errors %}has-error{% endif %}" autocorrect="off" autocapitalize="off">
                          <button type="submit" class="button--small  button--tertiary  button--expanded  newsletter-form-button" name="commit" id="Subscribe" data-text="{{ 'general.newsletter_form.submit' | t }}">
                           <span> {{ 'general.newsletter_form.submit' | t }}</span>
                          </button>
                      </div>
                    {% endif %}
                    {% endform %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "class": "index-newsletter-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter signup",
      "category": "Promotional"
    }],
    "blocks" : []
  }
{% endschema %}
