
<div class="pageHeader  pageHeader--collection" data-section-id="{{section.id}}" data-section-type="page_header"  data-page-header >
  
  <!--Page Header--> 
  <div class="row  row--full  small-collapse">

    <div class="small-12  medium-11  columns">

        <div class="pageHeader-inner">
          
          <div class="pageHeader-content  grid  grid--bottom  grid--justifyLeft">
              {%if collection %}
              <h1 class="pageHeader-headline"  data-page-headline>
                {{ collection.title }}
              </h1>
              {%else%}
              <h1 class="pageHeader-headline"  data-page-headline>
                {{ page.title }}
              </h1>
              {% endif%}
          </div>

          <div class="pageHeader-bg">
          
            {% if collection.image != undefined %}
             <picture>
                 <source media="(min-width: 1024px)"
                         srcset="{{collection.image | img_url: '1600x'}}">
                 <source media="(min-width: 640px)"
                         srcset="{{collection.image | img_url: '1200x',  crop: 'left'}}">
                <img src="{{collection.image | img_url: '800x', crop: 'left'}}"
                       data-sizes="auto" 
                       data-header-bg
                       alt="collection.image.alt" 
                       >
              </picture>
              {% else %}
                
              {% case  page.title %}

                {% when 'Lacing Guide' %}
                <picture>
                    
                  <source media="(min-width: 1024px)"
                          srcset="{{'shopHeaders--lacing-guide--large.png' | asset_url}}">
                
                  <source media="(min-width: 640px)"
                          srcset="{{'shopHeaders--lacing-guide--medium.png' | asset_url}}">
                
                  <img src="{{'shopHeaders--lacing-guide--small.png' | asset_url}}"
                       data-sizes="auto" 
                       data-header-bg
                       class="pageHeader-bg-img "
                       alt="Lacing Guide Hero Image" 
                       >
                </picture>    

                {% when 'About Us' %}
                <picture>
                    
                  <source media="(min-width: 1024px)"
                          srcset="{{'shopHeaders--about-us--large.png' | asset_url}}">
                
                  <source media="(min-width: 640px)"
                          srcset="{{'shopHeaders--about-us--medium.png' | asset_img_url: '1200x',  crop: 'left'}}">
                
                  <img src="{{'shopHeaders--about-us--small.png' | asset_img_url: '800x', crop: 'left'}}"
                       data-sizes="auto" 
                       data-header-bg
                       class="pageHeader-bg-img "
                       alt="Lacing Guide Hero Image" 
                       >              

                {% else %}
                <picture>
                    
                  <source media="(min-width: 1024px)"
                          srcset="{{'shopHeaders-all.png' | asset_url}}">
                
                  <source media="(min-width: 640px)"
                          srcset="{{'shopHeaders-all.png' | asset_url}}">
                
                  <img src="{{'shopHeaders-all.png' | asset_url}}"
                       data-sizes="auto" 
                       data-header-bg
                       class="pageHeader-bg-img "
                       alt="{{ collection.title }}" 
                       >
                </picture>

              {% endcase %}
              
              {%endif%}
          </div>
      
        </div>

    </div>

  </div>
  <!-- END Page Header--> 
  
  <!-- Page Header social--> 
  <div class="show-for-medium-up">
    <ul class="pageHeader-social [ grid  grid--center  grid--justifyCenter  med-grid--flexDirectionColumn ]">
    
      <li class="pageHeader-social-item">
        <span class="pageHeader-social-title">Share</span>
      </li>
      <li class="pageHeader-social-item  text-center">
          <a target="_blank" href="//www.facebook.com/sharer.php?u={{canonical_url}}">
            {% include 'icon-facebook' %}
            <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
            <span class="hide-elem">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
          </a>
       </li>
      <li class="pageHeader-social-item  text-center">
          <a target="_blank" href="//twitter.com/share?text={{ page_description | escape | replace: '&', 'and' }}&amp;url={{canonical_url}}">
            {% include 'icon-twitter' %}
            <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
            <span class="hide-elem">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
          </a>
       </li>
    
      <li class="pageHeader-social-item  text-center">
          <a target="_blank" href="//pinterest.com/pin/create/button/?url={{canonical_url}}amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ page_description | escape | replace: '&', 'and' }}">
            {% include 'icon-pinterest' %}
            <span  class="hide-elem" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
            <span class="hide-elem">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
          </a>
       </li>
    
      <li class="pageHeader-social-item  show-for-medium-up">
        <a href="https://www.instagram.com/whiskerslaces/"  target="_blank" class="pageHeader-social-tag">#whiskerslaces</a>
      </li>
    
    </ul>
  </div>
</div>
<!--END Page Header  Social--> 


{% javascript %}
//<script>

  function pageHeader(pContainer) {

    var selectors = {
      collectionHeader: '[data-page-header]',
      collectionHeadline: '[data-page-headline]',
      headerBackground: '[data-header-bg]',
      products: '[data-product]',
    };

    var self = this; 

    this.animCtrl = null;
    this.pageScene = null; 

    //
    // Waits for the header imge to load with imagesLoaded jquery plugin
    //
    $(pContainer).imagesLoaded().done(function(){

      //
      // Defining the animations with ScrollMagic
      //
      self.animCtrl = new ScrollMagic.Controller(); 


      //
      // Defines the entry animations for our page header 
      //
      TweenMax.set(selectors.headerBackground, {autoAlpha: 1});
      TweenMax.set(selectors.collectionHeadline, {autoAlpha: 1});

      self.headerEntryAnim = new TimelineMax()
          .from(selectors.headerBackground, .4, {y: '100%'})
          .from(selectors.collectionHeadline, .4, {y: '20px', opacity: 0}, '-=.2');


      self.pageScene = new ScrollMagic.Scene({
            triggerElement: pContainer,
            triggerHook: 'onEnter',
            reverse: false
          })
          .setTween(self.headerEntryAnim)
          .addTo(self.animCtrl); 

    }); 

  };

  pageHeader('[data-section-id="page-header"]');  

//</script>
{% endjavascript %}
