
<section class="section--main" data-section-id="{{ section.id }}" data-section-type="info-page">
<!--Page Header--> 
<div class="row small-collapse">

  <div class="small-12 large-11 columns">

    <div class="pageHeader">
          
        <div class="pageHeader-contentContainer  grid  grid--bottom">
        
          <div class="row">
        
            <div class="small-12 columns large-push-1 large-10">
              <div class="pageHeader-content">
                <h1 class="headline  pageHeader-headline">{{section.settings.title}}</h1>
              </div>

            </div>

          </div>
    
        </div>
    
        <div class="pageHeader-bg">
          
          <picture>
              
            <source media="(min-width: 1024px)"
                    srcset="{{'shopHeaders--all--large.jpg' | asset_url}}">
          
            <source media="(min-width: 640px)"
                    srcset="{{'shopHeaders--all--medium.jpg' | asset_url}}">
          
            <img src="{{'shopHeaders--all--small.jpg' | asset_url}}"
                 class="pageHeader-bg-img"
                 alt="" 
                 >
          </picture>
        </div>
      
    </div>
  </div>
</section>
<!--Page header Ends--> 


<section>
  <div class="row">
    <div class="small-12  medium-9  large-10  large-centered  columns">
        <div class="row">
          <div class="small-12 medium-7   columns">
            {{section.settings.main_column}}
          </div>
 
          <div class="small-12  medium-5  columns">
            {{section.settings.side_column}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Privacy Policy",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Privacy Policy"
      },
      {
        "type": "html",
        "id": "main_column",
        "label": "Main Content",
        "default": "<p></p>"
      },
      {
        "type": "html",
        "id": "side_column",
        "label": "Side Content",
        "default": "<p></p>"
      }
    ]
  }

{% endschema %}
