

<div class="product"  data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">


  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
    
  <div class="product-bg">
    
  </div>

  <div class="row small-collapse">
    <div class="small-12 large-10 large-centered">
      <div class="product-inner">

        <div class="row">
          <div class="small-12 columns large-8  large-push-1">
            <div class="product-header  [ grid  grid--justifyLeft ]">
              {% include 'breadcrumbs' %}
            </div>
          </div>
        </div>

        <div class="row small-collapse">
          <div class="small-12 large-6  columns large-push-6">
            <div class="row  small-collapse  large-uncollapse">
              <div class="small-12 columns">
                <div class="product-photoSlideshow"  data-ui-component="product-photo-slideshow">
                  {% for image in product.images %}
                    {% if forloop.first == false %}
                    <div class="product-photoSlideshow-slide">

                       <button class="photoSlideshow-slide-zoom  hide-for-large-up" 
                             data-zoom-btn
                             data-high-res-image="{{ image | img_url: '1100x1100' }}"
                             data-image-size>
                          <span class="photoSlideshow-slide-zoom-icon">
                              <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 22.2">
                                <circle style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10" cx="14.1" cy="8" r="7.5"/>
                                <path style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10" d="M14.1 3.8v8.5M8.8 13.4L.5 21.7M9.8 8h8.6"/>
                              </svg>
                          </span>
                        </button>

                        <picture>
                          <source media="(min-width: 640px)" srcset="{{ image | img_url: '1100x1100' }}">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image | img_url: '800x800' }}" alt="{{ image.alt | escape }}" class="lazyload"  data-sizes="auto"  data-product-image>
                        </picture> 
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row show-for-large-up">
            
              <div class="small-12 columns">
              
                <div class="productPhotoThumbnails">

                  {% if product.images.size > 1 %}
                  <ul class="productPhotoThumbnails-thumbnails grid grid--flexWrap grid--flexDirectionRow grid--1of2 large-grid--flexDirectionRow large-grid--fit">
                    {% for image in product.images %}
                      {% if forloop.first == false %}
                      <li>
                        <a  data-product-single-thumbnail data-slide-index="{{forloop.index}}">
                          <div class="productPhotoThumbnails-thumb">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src | img_url: '300x300' }}" alt="{{ image.alt | escape }}" class="lazyload" data-sizes="auto">
                          </div>
                        </a>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
      
          <div class="small-12 columns large-5 large-pull-6 ">
        
            <div class="product-information">
        
              <div class="row small-collapse  large-uncollapse">
      
                <div class="small-12 columns medium-6  large-12">
      
                  <div class="row  small-collapse">
                    <div class="small-12 columns">
                        <h1 class="product-name" data-product-anim-elem>
                          {{ product.title }}
                        </h1>
                        
                        <ul class="product-details  grid  grid--center"  data-product-anim-elem>
                       
                          <li data-price-wrapper class="product-price">
                            <span data-product-price>
                              {{ current_variant.price | money }}
                            </span>

                            {% if product.compare_at_price_max > product.price %}
                              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                              <s data-compare-price>
                                {% if current_variant.compare_at_price > current_variant.price %}
                                  {{ current_variant.compare_at_price | money }}
                                {% endif %}
                              </s>
                            {% endif %}
                          </li>
          
                        </ul>
                        
                        <div class="product-description" data-product-anim-elem>
                          {{ product.description }}
                        </div>
                        
                        <div data-product-anim-elem>
                            {% unless product == empty %}
                            <script type="application/json" data-product-json>
                              {{ product | json }}
                            </script>
                          {% endunless %}
                        </div>
                        
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"  class="product-actions" data-product-anim-elem>
                          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

                          <form action="/cart/add" method="post" enctype="multipart/form-data"
                                id="AddToCartForm--{{ section.id }}">

                            <div class="grid grid--center  grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--flex-wrap">
                              {% unless product.has_only_default_variant %}
                              <div class="product-variants">
                                  {% for option in product.options_with_values %}
                                    <div class="selector-wrapper js">
                                      <label for="SingleOptionSelector-{{ forloop.index0 }}" class="grid-cell  grid-cell--autoSize">
                                        {{ option.name }}
                                      </label>
                                
                                      <div class="select  select--primary  select--small">
                                        <select
                                          id="SingleOptionSelector-{{ forloop.index0 }}"
                                          data-single-option-selector
                                          data-index="option{{ option.position }}">
                                          {% for value in option.values %}
                                            <option
                                              value="{{ value | escape }}"
                                              {% if option.selected_value == value %}selected="selected"{% endif %}>
                                                {{ value }}
                                            </option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  {% endfor %}
                              </div>
                              {% endunless %}

                              <select name="id" class="no-js" data-product-select>
                                {% for variant in product.variants %}
                                  <option
                                    {% if variant == current_variant %}selected="selected"{% endif %}
                                    {% unless variant.available %}disabled="disabled"{% endunless %}
                                    value="{{ variant.id }}">
                                      {{ variant.title }}
                                  </option>
                                {% endfor %}
                              </select>

                              <div class="product-qty  grid  grid--center  med-grid--flexDirectionColumn  med-grid--top">
                                <label for="Quantity">QTY.</label>
                                <!--<label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->
                                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="input--small" >
                              </div>
                            </div>
                        
                            <button
                              type="submit"
                              name="add"
                              class="button  button--medium  button--expanded  button--primary product-buyBtn"
                              data-add-to-cart
                              id="AddToCart--{{section.id}}"
                              data-text="{{ 'products.product.add_to_cart' | t }}"
                              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                                <span data-add-to-cart-text class="button-textState1">
                                    {{ 'products.product.add_to_cart' | t }}
                                </span>
                            </button>
                          </form>
                        </div>

                      </div>
                  </div>
                </div>

                <div class="small-12 columns medium-5  large-12">
                  
                  <div class="product-secondaryDetails">
                    <h2 class="product-secondaryDetails-headline">
                      Lace Details 
                    </h2>
                    <ul class="product-secondaryDetails-list">
                      {% for tag in product.tags %}
                          {%if tag == 'Boot' or tag contains 'Boot'%}
                            
                            {% break %}
                          {%else%}
                            <li  class="product-secondaryDetails-item  grid  grid--center">
                              <div class="product-secondaryDetails-item-icon  grid-cell--autoSize">
                                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><style>.st0{}.st1{}</style><path style="fill:#bcbebf" d="M25.5 28.7c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5s2.5 5.5 5.5 5.5 5.5-2.5 5.5-5.5-2.4-5.5-5.5-5.5zM74.5 28.7c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5s2.5 5.5 5.5 5.5c3.1 0 5.5-2.5 5.5-5.5s-2.4-5.5-5.5-5.5zM25.5 48.3c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5s2.5 5.5 5.5 5.5 5.5-2.5 5.5-5.5c.1-3.1-2.4-5.5-5.5-5.5zM74.5 48.3c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5s2.5 5.5 5.5 5.5c3.1 0 5.5-2.5 5.5-5.5 0-3.1-2.4-5.5-5.5-5.5zM25.5 67.9c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5s2.5 5.5 5.5 5.5 5.5-2.5 5.5-5.5c.1-3.1-2.4-5.5-5.5-5.5zM74.5 67.9c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5s2.5 5.5 5.5 5.5c3.1 0 5.5-2.5 5.5-5.5s-2.4-5.5-5.5-5.5zM25.5 87.5c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5 0 3.1 2.5 5.5 5.5 5.5s5.5-2.5 5.5-5.5c.1-3.1-2.4-5.5-5.5-5.5zM74.5 87.5c-4.5 0-8.1-3.6-8.1-8.1s3.6-8.1 8.1-8.1 8.1 3.6 8.1 8.1-3.6 8.1-8.1 8.1zm0-13.6c-3.1 0-5.5 2.5-5.5 5.5 0 3.1 2.5 5.5 5.5 5.5 3.1 0 5.5-2.5 5.5-5.5 0-3.1-2.4-5.5-5.5-5.5z"/><path style="fill:#5fc2a7" d="M74.3 22.9H25.9c-1.2 0-2.1-1-2.1-2.1 0-1.2 1-2.1 2.1-2.1h48.4c1.2 0 2.1 1 2.1 2.1-.1 1.2-1 2.1-2.1 2.1zM74.3 42.3H25.9c-1.2 0-2.1-1-2.1-2.1 0-1.2 1-2.1 2.1-2.1h48.4c1.2 0 2.1 1 2.1 2.1-.1 1.2-1 2.1-2.1 2.1zM74.3 62.1H25.9c-1.2 0-2.1-1-2.1-2.1 0-1.2 1-2.1 2.1-2.1h48.4c1.2 0 2.1 1 2.1 2.1-.1 1.2-1 2.1-2.1 2.1zM74.3 81.5H25.9c-1.2 0-2.1-1-2.1-2.1s1-2.1 2.1-2.1h48.4c1.2 0 2.1 1 2.1 2.1s-1 2.1-2.1 2.1z"/></svg>
                              </div>
                              <div class="product-secondaryDetails-item-description">
                               33” in. (standard length for most dress shoes), so ideal for shoes with 4-5 shoeholes.
                              </div>
                            </li>
                            {% break %}
                          {%endif%}
                      {%endfor%}

                      <li  class="product-secondaryDetails-item  grid  grid--center">
                        <div class="product-secondaryDetails-item-icon  grid-cell--autoSize">
                            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><defs><circle id="SVGID_1_" cx="49.3" cy="49.1" r="37.4"/></defs><clipPath id="SVGID_2_"><use xlink:href="#SVGID_1_" overflow="visible"/></clipPath><g clip-path="url(#SVGID_2_)"><path style="fill:#5fc2a7" d="M60-11.6c0 .6-.2 1.2-.7 1.6l-78.2 78.2c-.9.9-2.3.9-3.2 0-.9-.9-.9-2.3 0-3.2l78.2-78.2c.9-.9 2.3-.9 3.2 0 .4.4.7 1 .7 1.6z"/><path style="fill:#5fc2a7" d="M75.1 3.5c0 .6-.2 1.2-.7 1.6L-3.8 83.3c-.9.9-2.3.9-3.2 0-1-.9-1-2.3-.1-3.2L71.1 1.9c.9-.9 2.4-.9 3.3 0 .4.4.7 1 .7 1.6z"/><path  style="fill:#5fc2a7" d="M90.1 18.6c0 .6-.2 1.2-.7 1.6L11.3 98.4c-.9.9-2.3.9-3.2 0-.9-.9-.9-2.3 0-3.2L86.2 17c.9-.9 2.3-.9 3.2 0 .5.4.7 1 .7 1.6z"/><path style="fill:#5fc2a7" d="M105.2 33.7c0 .6-.2 1.2-.7 1.6l-78.2 78.2c-.9.9-2.3.9-3.2 0-.9-.9-.9-2.3 0-3.2L101.3 32c.9-.9 2.3-.9 3.2 0 .5.5.7 1.1.7 1.7z"/><path style="fill:#5fc2a7" d="M105.2 66.6c0 .6-.2 1.2-.7 1.6-.9.9-2.3.9-3.2 0L23.1-10c-.9-.9-.9-2.3 0-3.2.9-.9 2.3-.9 3.2 0L104.6 65c.4.4.6 1 .6 1.6z"/><path style="fill:#5fc2a7" d="M90.1 81.7c0 .6-.2 1.2-.7 1.6-.9.9-2.3.9-3.2 0L8 5.1c-.9-.9-.9-2.3 0-3.2.9-.9 2.3-.9 3.2 0l78.2 78.2c.5.4.7 1 .7 1.6z"/><path style="fill:#5fc2a7" d="M75.1 96.8c0 .6-.2 1.2-.7 1.6-.9.9-2.3.9-3.2 0L-7.1 20.2c-.9-.9-.9-2.4 0-3.2.9-.9 2.3-.9 3.2 0l78.2 78.2c.5.4.8 1 .8 1.6z"/><path style="fill:#5fc2a7" d="M60 111.9c0 .6-.2 1.2-.7 1.6-.9.9-2.3.9-3.2 0l-78.2-78.2c-.9-.9-.9-2.3 0-3.2.9-.9 2.3-.9 3.2 0l78.2 78.2c.4.4.7 1 .7 1.6z"/><path style="fill:#5fc2a7" d="M73.2-11.6c0 .3-.1.6-.3.8L-5.4 67.4c-.4.4-1.2.4-1.6 0-.4-.4-.4-1.2 0-1.6l78.2-78.2c.4-.4 1.2-.4 1.6 0 .3.2.4.5.4.8z"/><path style="fill:#5fc2a7" d="M88.3 3.5c0 .3-.1.6-.3.8L9.7 82.5c-.4.4-1.2.4-1.6 0-.4-.4-.4-1.2 0-1.6L86.3 2.7c.4-.4 1.2-.4 1.6 0 .3.2.4.5.4.8z"/><path style="fill:#5fc2a7" d="M103.4 18.6c0 .3-.1.6-.3.8L24.8 97.6c-.4.4-1.2.4-1.6 0-.4-.4-.4-1.2 0-1.6l78.2-78.2c.4-.4 1.2-.4 1.6 0 .2.2.4.5.4.8z"/><path style="fill:#5fc2a7" d="M118.4 33.7c0 .3-.1.6-.3.8l-78.2 78.2c-.4.4-1.2.4-1.6 0-.4-.4-.4-1.2 0-1.6l78.2-78.2c.4-.4 1.2-.4 1.6 0 .2.2.3.5.3.8z"/><path style="fill:#5fc2a7" d="M118.4 66.6c0 .3-.1.6-.3.8-.4.4-1.2.4-1.6 0L38.3-10.8c-.4-.4-.4-1.2 0-1.6.4-.4 1.2-.4 1.6 0l78.2 78.2c.2.2.3.5.3.8z"/><path style="fill:#bcbebf" d="M103.4 81.7c0 .3-.1.6-.3.8-.4.4-1.2.4-1.6 0L23.2 4.3c-.4-.4-.4-1.2 0-1.6.4-.4 1.2-.4 1.6 0L103 80.9c.2.2.4.5.4.8z"/><path style="fill:#bcbebf" d="M88.3 96.8c0 .3-.1.6-.3.8-.4.4-1.2.4-1.6 0L8.1 19.4c-.4-.4-.4-1.2 0-1.6.4-.4 1.2-.4 1.6 0L87.9 96c.3.2.4.5.4.8z"/><path style="fill:#bcbebf" d="M73.2 111.9c0 .3-.1.6-.3.8-.4.4-1.2.4-1.6 0L-7 34.5c-.4-.4-.4-1.2 0-1.6.4-.4 1.2-.4 1.6 0L72.8 111c.3.3.4.6.4.9z"/></g><g><path d="M87.9 49.1c0 21.3-17.3 38.6-38.6 38.6S10.7 70.4 10.7 49.1 28 10.5 49.3 10.5s38.6 17.3 38.6 38.6zm-74.7 0c0 19.9 16.2 36.1 36.1 36.1 19.9 0 36.1-16.2 36.1-36.1S69.2 13 49.3 13c-19.9 0-36.1 16.2-36.1 36.1z" fill="#605f6c"/></g></svg>
                        </div>
                        <div class="prorudct-secondaryDetails-item-description">
                         Made of super strong 
                         nylon/poly weave.
                        </div>
                      </li>
                      <li  class="product-secondaryDetails-item  grid  grid--center">
                        <div class="product-secondaryDetails-item-icon  grid-cell--autoSize">
                          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><style>.st0{fill:#bcbebf}.st1{fill:#912d60}</style><path class="st0" d="M83.6 56.6c0-3.3-.9-7.4-1.6-10.7-.4-1.7-.7-3.1-.8-4.2-.7-4.9-1.2-9.4-1.6-13.3-.8-7.2-1.4-12.9-2.9-16.8-3-8-11.1-7.7-11.2-7.7-3.7.2-7 2.3-9.1 5.8-3.1 5.1-2.5 13.7-2 21.3.3 3.8.5 7.4.3 10.2-.3 3.5-.7 6.8-1.2 10-1 7.2-2 14.1-.6 21.9 3.1 19 12.3 23.1 14.3 23.1 1.1 0 3.3-1.1 5.8-3.6 4.1-4.1 10.9-14.3 10.6-36zm-2.1-.4l-.1-.7v-.1c0 .3.1.6.1.8zM75 86.6c-3.4 5.5-7.1 7.5-7.8 7.5-1.4 0-9.4-4-12.5-21.5-1-5.5-.7-10.6-.1-15.7.1.2.3.5.4.8 2.1 6.6 7.5 11.5 10.3 13.7.5.4 1.1.8 1.6 1.2.1 0 .1.1.1.1 1.7 1.1 6.7-5.3 10.4-10.4.6-.8 1.2-1.6 1.7-2.4 1.3-1.8 2.1-3.2 2.3-3.4v.1c.2 8.7-.8 20.9-6.4 30z"/><path style="fill:#fff" d="M59.6 33.5c1.5 6.4 7.5 8.6 7.5 8.6s6.3-3.4 7.3-9.2c.8-4.5.5-12.1-1-16.4-3.5-10.1-11.5-10.2-14.6.3-1 3.7-.1 12.5.8 16.7z"/><path class="st3" d="M59 34.2c1.6 7 7 9.4 8.2 9.4 1.2 0 6.9-3.7 8-10.1.8-4.9.6-13.2-1.1-17.9-3.9-11-12.6-11.1-16 .4-1.2 4-.2 13.6.9 18.2z"/><circle class="st3" cx="72.4" cy="47" r="1.1"/><path style="fill:#605f6c" d="M72.4 48.2c-.7 0-1.2-.6-1.2-1.2 0-.7.5-1.3 1.2-1.3s1.2.6 1.2 1.2c0 .3-.1.6-.4.9-.2.3-.5.4-.8.4zm-.9-1.2c0 .2.1.5.3.6.2.2.4.3.6.3.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.5-.4-.9-.9-.9s-.9.4-.9.9z"/><circle class="st3" cx="61.9" cy="47.1" r="1.1"/><path style="fill:#605f6c" d="M61.9 48.4c-.7 0-1.2-.6-1.2-1.2 0-.3.1-.6.4-.9.2-.2.5-.4.9-.4.3 0 .6.1.9.4.2.2.4.5.4.9-.1.6-.7 1.2-1.4 1.2zm0-2.2c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .5.4.9.9.9s.9-.4.9-.9c0-.2-.1-.5-.3-.6-.1-.2-.4-.3-.6-.3z"/><circle style="fill:#44414f" cx="72.4" cy="50.5" r="1.1"/><path style="fill:#605f6c" d="M72.4 51.8c-.3 0-.6-.1-.9-.4-.2-.2-.4-.5-.4-.9 0-.7.5-1.3 1.2-1.3s1.2.6 1.2 1.2c0 .3-.1.6-.4.9s-.3.5-.7.5zm-.9-1.3c0 .5.4.9.9.9.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.5-.4-.9-.9-.9s-.9.4-.9.9z"/><circle style="fill:#44414f" cx="61.9" cy="50.7" r="1.1"/><path style="fill:#605f6c" d="M61.9 51.9c-.3 0-.6-.1-.9-.4-.2-.2-.4-.5-.4-.9 0-.7.5-1.3 1.2-1.3s1.2.6 1.2 1.2c.2.9-.4 1.4-1.1 1.4zm0-2.1c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .2.1.5.3.6.2.2.4.3.6.3.5 0 .9-.4.9-.9s-.4-.9-.9-.9z"/><circle style="fill:#44414f" cx="72.4" cy="54.1" r="1.1"/><path style="fill:#605f6c" d="M72.4 55.4c-.7 0-1.2-.6-1.2-1.2 0-.3.1-.6.4-.9.2-.2.5-.4.9-.4.7 0 1.3.5 1.3 1.2-.1.7-.7 1.3-1.4 1.3.1 0 0 0 0 0zm0-2.2c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .5.4.9.9.9s.9-.4.9-.9c0-.2-.1-.5-.3-.6-.1-.2-.3-.3-.6-.3z"/><circle style="fill:#44414f" cx="62" cy="54.3" r="1.1"/><path style="fill:#605f6c" d="M62 55.5c-.7 0-1.2-.6-1.2-1.2 0-.7.5-1.3 1.2-1.3.3 0 .6.1.9.4.2.2.4.5.4.9-.1.6-.6 1.2-1.3 1.2zm0-2.1c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .5.4.9.9.9.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.2-.1-.5-.3-.6-.2-.2-.4-.3-.6-.3z"/><g><circle style="fill:#44414f" cx="72.5" cy="57.7" r="1.1"/><path style="fill:#605f6c" d="M72.5 58.9c-.3 0-.6-.1-.9-.4-.2-.2-.4-.5-.4-.9 0-.3.1-.6.4-.9.2-.2.5-.4.9-.4.7 0 1.2.6 1.2 1.2 0 .9-.5 1.4-1.2 1.4zm0-2.1c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .2.1.5.3.6.2.2.4.3.6.3.5 0 .9-.4.9-.9s-.4-.9-.9-.9z"/></g><g><circle style="fill:#44414f" cx="62" cy="57.8" r="1.1"/><path style="fill:#605f6c" d="M62 59.1c-.7 0-1.2-.6-1.2-1.2 0-.7.5-1.3 1.2-1.3s1.2.6 1.2 1.2c0 .3-.1.6-.4.9-.1.2-.5.4-.8.4zm-.9-1.3c0 .2.1.5.3.6.2.2.4.3.6.3.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.5-.4-.9-.9-.9s-.9.4-.9.9z"/></g><g><path style="fill:#5fc2a7" d="M67.1 48.8c-1.5 0-3-.4-5.1-1.2-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4 1.5 5.6 1.5 9.7-.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2.3.9-3.8 1.3-5.4 1.3z"/></g><g><path style="fill:#5fc2a7" d="M67.1 52.4c-1.5 0-3-.4-5.1-1.2-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4 1.5 5.6 1.5 9.7-.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2.2.8-3.8 1.3-5.4 1.3z"/></g><g><path style="fill:#5fc2a7" d="M67.2 56c-1.5 0-3-.4-5.1-1.2-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4 1.5 5.6 1.5 9.7-.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2.3.8-3.9 1.3-5.4 1.3z"/></g><g><path style="fill:#5fc2a7" d="M67.2 59.5c-1.5 0-3-.4-5.1-1.2-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4 1.5 5.6 1.5 9.7-.1.3-.1.6 0 .7.3s0 .6-.3.7c-2.3.9-3.8 1.3-5.4 1.3z"/></g><g><path class="st0" d="M27 92.6c2.4 2.5 4.7 3.6 5.8 3.6 2.1 0 11.2-4.1 14.5-23.2 1.4-7.8.4-14.7-.6-21.9-.4-3.2-.9-6.5-1.2-10-.2-2.8 0-6.4.3-10.2.5-7.6 1.1-16.2-2-21.3-2.2-3.5-5.4-5.6-9.1-5.8-.1 0-8.2-.3-11.2 7.7-1.5 3.9-2.1 9.6-2.9 16.8-.4 4-.9 8.5-1.6 13.3-.2 1.1-.5 2.6-.8 4.2-.7 3.3-1.6 7.4-1.6 10.7-.5 21.8 6.3 32 10.4 36.1zm-8.4-37.1v.7c-.1-.2 0-.5 0-.7zm-.1 1.2c0-.1 0-.1 0 0 .1.1 1 1.5 2.3 3.3.5.8 1.1 1.6 1.7 2.4 3.6 5.1 8.6 11.5 10.4 10.4l.1-.1c.6-.4 1.1-.8 1.6-1.2 2.8-2.2 8.3-7.1 10.3-13.7.2-.3.3-.6.4-.8.6 5.1.8 10.2-.1 15.7-3 17.5-11.1 21.5-12.5 21.5-.7-.1-4.4-2-7.8-7.5-5.5-9.2-6.5-21.4-6.4-30z"/></g><g><path style="fill:#fff" d="M40.4 33.5c-1.5 6.4-7.5 8.6-7.5 8.6s-6.3-3.4-7.3-9.2c-.8-4.5-.5-12.1 1-16.4 3.6-10.1 11.5-10.2 14.6.3 1 3.7.1 12.5-.8 16.7z"/></g><g><path style="fill:#44414f" d="M41 34.2c-1.6 7-7 9.4-8.2 9.4-1.2 0-6.9-3.7-8-10.1-.8-4.9-.6-13.2 1.1-17.9 3.9-11 12.6-11.1 16 .4 1.2 4 .2 13.6-.9 18.2z"/></g><g><circle style="fill:#44414f" cx="27.6" cy="47" r="1.1"/><path class="st0" d="M27.6 48.2c-.3 0-.7-.1-.9-.4-.2-.2-.4-.6-.4-.9 0-.3.1-.6.4-.9.2-.2.5-.4.9-.4.7 0 1.2.6 1.2 1.3.1.8-.5 1.3-1.2 1.3zm0-2.1c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .2.1.5.3.6.2.2.4.3.6.3.5 0 .9-.4.9-.9h.2-.2c0-.5-.4-.9-.9-.9z"/><circle style="fill:#44414f" cx="38.1" cy="47.1" r="1.1"/><path class="st0" d="M38.1 48.4c-.7 0-1.3-.6-1.2-1.3 0-.7.6-1.2 1.2-1.2.3 0 .6.1.9.4.2.2.4.6.4.9h-.2.2c-.1.6-.6 1.2-1.3 1.2zm0-2.2c-.5 0-.9.4-.9.9s.4.9.9.9.9-.4.9-.9c0-.2-.1-.5-.3-.6-.1-.2-.4-.3-.6-.3z"/><circle style="fill:#44414f" cx="27.6" cy="50.5" r="1.1"/><path class="st0" d="M27.6 51.8c-.3 0-.7-.1-.9-.4s-.4-.6-.4-.9c0-.7.6-1.2 1.2-1.2.7 0 1.2.6 1.2 1.3.1.6-.4 1.2-1.1 1.2zm0-2.2c-.5 0-.9.4-.9.9 0 .2.1.5.3.6.2.2.4.3.6.3.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.5-.4-.9-.9-.9z"/><circle style="fill:#44414f" cx="38.1" cy="50.7" r="1.1"/><path class="st0" d="M38.1 51.9c-.7 0-1.3-.6-1.2-1.3 0-.7.6-1.2 1.2-1.2.3 0 .6.1.9.4.2.2.4.6.4.9h-.2.2c-.1.7-.7 1.2-1.3 1.2zm0-2.1c-.5 0-.9.4-.9.9s.4.9.9.9.9-.4.9-.9c0-.2-.1-.5-.3-.6-.2-.2-.4-.3-.6-.3z"/><circle style="fill:#44414f" cx="27.6" cy="54.1" r="1.1"/><path class="st0" d="M27.6 55.4s-.1 0 0 0c-.7 0-1.3-.6-1.2-1.3 0-.7.6-1.2 1.2-1.2.3 0 .6.1.9.4.2.2.4.6.4.9h-.2.2c-.1.6-.7 1.2-1.3 1.2zm0-2.2c-.5 0-.9.4-.9.9s.4.9.9.9.9-.4.9-.9-.4-.9-.9-.9z"/><circle style="fill:#44414f" cx="38" cy="54.3" r="1.1"/><path class="st0" d="M38 55.5c-.3 0-.7-.1-.9-.4-.2-.2-.4-.6-.4-.9 0-.7.6-1.2 1.2-1.2.7 0 1.2.6 1.2 1.3 0 .3-.1.6-.4.9 0 .2-.3.3-.7.3zm0-2.1c-.5 0-.9.4-.9.9 0 .2.1.5.3.6.2.2.4.3.6.3.2 0 .5-.1.6-.3.2-.2.3-.4.3-.6 0-.5-.4-.9-.9-.9z"/><g><circle style="fill:#44414f" cx="27.5" cy="57.7" r="1.1"/><path class="st0" d="M27.5 58.9c-.7 0-1.3-.6-1.2-1.3 0-.7.6-1.2 1.3-1.2.3 0 .6.1.9.4.2.2.4.6.4.9h-.2.2c-.1.7-.7 1.2-1.4 1.2zm0-2.1c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .5.4.9.9.9s.9-.4.9-.9c0-.2-.1-.5-.3-.6-.1-.2-.3-.3-.6-.3z"/></g><g><circle style="fill:#44414f" cx="38" cy="57.8" r="1.1"/><path class="st0" d="M38 59.1c-.3 0-.7-.1-.9-.4-.2-.2-.4-.6-.4-.9 0-.3.1-.6.4-.9.2-.2.6-.4.9-.4.7 0 1.2.6 1.2 1.3 0 .7-.5 1.3-1.2 1.3zm0-2.2c-.2 0-.5.1-.6.3-.2.2-.3.4-.3.6 0 .2.1.5.3.6.2.2.4.3.6.3.5 0 .9-.4.9-.9h.2-.2c0-.5-.4-.9-.9-.9z"/></g><g><path style="fill:#5fc2a7" d="M32.9 48.8c-1.6 0-3.2-.4-5.4-1.3-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4.1 1.6 5.7 1.6 9.7.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2.1.8-3.6 1.2-5.1 1.2z"/></g><g><path class="st5" d="M32.9 52.4c-1.6 0-3.2-.4-5.4-1.3-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4.1 1.6 5.7 1.6 9.7.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2.1.8-3.6 1.2-5.1 1.2z"/></g><g><path class="st5" d="M32.8 56c-1.6 0-3.2-.4-5.4-1.3-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4.1 1.6 5.7 1.6 9.7.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2 .8-3.5 1.2-5.1 1.2z"/></g><g><path class="st5" d="M32.8 59.5c-1.6 0-3.2-.4-5.4-1.3-.3-.1-.4-.4-.3-.7.1-.3.4-.4.7-.3 4.1 1.6 5.7 1.6 9.7.1.3-.1.6 0 .7.3.1.3 0 .6-.3.7-2.1.8-3.6 1.2-5.1 1.2z"/></g></g></svg>
                
                        </div>
                       <div class="product-secondaryDetails-item-description"> Sold as a pair! C’mon, 1 lace would just be plain evil.</div>
                      </li>
                      <li class="product-secondaryDetails-item  grid  grid--center">
                        <div class="product-secondaryDetails-item-icon  grid-cell--autoSize">
                          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <title>
                              Hand doing the OK Sign. Whiskers offers free returns and exchanges. 
                            </title>
                            <style>
                              .st0{fill:#bcbebf}.st1{fill:#605f6c}.st2{fill:#5fc2a7}
                            </style>
                            <g id="XMLID_4_">
                              <path class="st0" d="M72.6 73.3c.3.5.1 1.1-.4 1.4-.2.1-.3.1-.5.1-.4 0-.7-.2-.9-.5-.1-.2-.3-.5-.4-.7-1.2-2-2.9-5-2.3-7.6C71 53.1 69.9 36.2 65 15.9c-.1-.6-.2-1-.3-1.3-.7-3-2-4.3-2.9-4.6-.5-.1-.9 0-1.3.3-.6.6-1 2-.4 4.2 1.2 4.3 2.3 10.7 2.8 13.5-.7-2.6-1.6-4.9-3.2-7.4-.1-.2-.2-.4-.3-.5-.4-1.8-.8-3.5-1.2-5-.7-2.6-.4-4.9.9-6.3.9-.9 2.1-1.2 3.3-.8 2 .6 3.6 2.8 4.4 6.2.1.3.2.7.3 1.3C72 36 73 53.2 70 66.4c-.4 1.8 1.2 4.5 2.1 6.1.2.3.3.6.5.8z"/>
                              <path class="st0" d="M64.2 36.9c.1.6-.3 1.1-.9 1.1h-.1c-.5 0-1-.4-1-.9-.4-3.4-.7-6-1.3-8.4.2.4.6.7 1.1.6.6-.1.9-.6.9-1.2v-.2c.6 2.6.9 5.4 1.3 9z"/>
                              <path class="st0" d="M62.9 28.2c.1.6-.3 1.1-.9 1.2-.5.1-1-.2-1.1-.6 0-.1 0-.2-.1-.2-.2-1.4-.8-4.9-1.5-8.4.1.2.2.3.3.5 1.6 2.5 2.5 4.8 3.2 7.4 0 0 .1 0 .1.1z"/>
                              <path class="st0" d="M60.8 28.5c0 .1 0 .2.1.2 0 0-.1-.1-.1-.2zM59.3 20.1c.7 3.5 1.3 7 1.5 8.4-.6-2.4-1.5-4.5-3-6.8-.3-.5-.6-.9-.8-1.3-2-3.2-2.4-3.9-5.9-7.8-2.2-2.5-4.5-3.4-5.7-2.4-.8.7-1.1 2.3-.1 3.6 3.1 4 5.6 7.4 7.8 13.1v.2c-.7-1.4-1.4-2.4-2-3-.7-.7-1.6-1.4-2.6-2-1.4-2.5-3-4.6-4.9-7-1.6-2-1.4-4.9.4-6.5 1.7-1.4 4.8-1.5 8.5 2.6 3.6 4 4.1 4.8 6.1 8.1.4.2.5.5.7.8z"/>
                              <path class="st0" d="M56.7 38.4c.1.6-.3 1.1-.9 1.2-.6.1-1.1-.3-1.2-.9-.7-4.3-2.1-8.4-3.4-10.9.2.4.8.6 1.3.4s.7-.7.6-1.2c1.6 2.9 3 7.1 3.6 11.4zM53.9 79.2c.3.5.2 1.1-.3 1.4-.2.1-.4.2-.6.2-.3 0-.7-.2-.9-.5L50 77.2c-1.9-2.6-4.7-5.2-7.6-7.3-1.4-1-3.2-2-4.8-3-.7-.4-1.4-.8-1.9-1.2-.3-.2-.7-.4-1.1-.6-3.5-2-9.3-5.3-8.7-14.1.1-1 .6-1.9 1.4-2.6-.2-.1-.5-.2-.7-.3-1.1-.6-1.6-1.9-1.4-3.4.5-2.9 3.6-6.5 7.7-8.8 2.6-1.5 7.3-1.8 10.8.2.6.4 1.2.8 1.7 1.1.2.8.4 1.7.6 2.7.1.4.4.7.8.8-.2 0-.4-.1-.6-.2 0 0-1.8-1.5-3.6-2.6-3-1.8-7-1.2-8.7-.2-4.2 2.4-6.4 5.5-6.7 7.4-.1.4-.1 1 .4 1.2.6.3 1.8.1 3-.9 1.7-1.5 5-2.7 7.8-2.1 1.6.3 2.8 1.2 3.5 2.6 1.7 3.5.7 7 .1 8.3-.5 1.3-1.4 2.2-2.7 2.6-1.6.5-3.6.1-4.6-.7-1.6-1.1-2.6-2.6-3.4-5.3-.3-.9-.9-1.4-1.6-1.3-.8.1-1.6.7-1.7 1.6-.6 7.5 4.4 10.3 7.6 12.2.4.2.8.4 1.1.6.6.3 1.2.7 1.9 1.1 1.6.9 3.4 2 4.9 3 3.1 2.2 6.1 5 8.1 7.7l2.3 3.5zM40.2 53.6c.4-1.1 1.3-4-.1-6.7-.4-.8-1.1-1.3-2-1.5-2-.4-4.7.5-6 1.7-.3.3-.6.5-.9.7.9.3 1.8 1.1 2.2 2.5.7 2.2 1.5 3.4 2.6 4.2.5.4 1.8.7 2.8.4.7-.2 1.1-.6 1.4-1.3z"/>
                              <path class="st0" d="M53.2 27.1c.1.5-.2 1-.6 1.2s-1 0-1.3-.4c0 0 0-.1-.1-.1-.8-2.1-1.7-3.9-2.6-5.6 1 .6 1.8 1.3 2.6 2 .6.5 1.3 1.5 2 2.9z"/>
                              <path class="st0" d="M51.2 27.6c0 .1 0 .1.1.1-.5-1.1-1.1-1.9-1.5-2.3-2.6-2.5-7.9-4.8-8.9-5.2-2.4-1-4.5-1.1-5.4-.4-.6.4-.6 1.1-.5 1.5.2 1.1 1.3 2.7 3.8 3.6 4.2 1.5 7.4 3.4 9.5 14.6.1.6-.3 1.1-.8 1.2h-.4c.3 0 .6-.1.9-.4.4-.4.3-1.1-.1-1.5-.1 0-1-.8-2.2-1.7-2-8.4-4.7-9.3-7.6-10.4-2.8-1-4.8-3-5.2-5.2-.2-1.4.2-2.7 1.3-3.5.9-.7 3.2-1.7 7.5.1 1.1.5 4.3 1.9 7 3.6.9 2 1.7 3.8 2.5 5.9z"/>
                              <path class="st0" d="M47.8 39.1c.4.4.5 1 .1 1.5-.2.3-.5.4-.9.4-.4-.1-.8-.4-.8-.8-.2-1-.4-1.8-.6-2.7 1.2.8 2.1 1.6 2.2 1.6z"/>
                            </g>
                            <path class="st1" d="M79.7 80.4c-1.2-2.1-2.6-4.5-5.8-9.8l-14.2 7-11 5.5c1.8 3.3 4.3 8.2 5.4 10.5l25.6-13.2z"/>
                            <path class="st1" d="M54.1 94.5c-.4 0-.7-.2-.9-.6-.3-.6-.7-1.3-1.1-2.2-1.3-2.5-3-5.8-4.3-8.3-.1-.2-.2-.5-.1-.8.1-.3.3-.5.5-.6l11-5.5 14.2-7.1c.5-.2 1.1-.1 1.3.4 3.3 5.6 4.6 7.9 5.8 9.9.1.2.2.5.1.8-.1.3-.3.5-.5.6L54.6 94.4c-.2.1-.4.1-.5.1zm-4-11c1.2 2.3 2.7 5.2 3.8 7.4.2.4.4.9.6 1.2L78.2 80c-1-1.7-2.3-3.9-4.7-8.1l-13.4 6.6-10 5z"/>
                            <path class="st0" d="M23.2 38.2c-.3 0-.5-.1-.7-.3l-5.3-5.3c-.4-.4-.4-1.1 0-1.5.4-.4 1.1-.4 1.5 0l5.3 5.3c.4.4.4 1.1 0 1.5-.3.2-.5.3-.8.3zM17.9 67.1c-.3 0-.5-.1-.7-.3-.4-.4-.4-1.1 0-1.5l5.3-5.3c.4-.4 1.1-.4 1.5 0 .4.4.4 1.1 0 1.5l-5.3 5.3c-.3.2-.6.3-.8.3zM20.9 49.7h-7.6c-.6 0-1-.5-1-1 0-.6.5-1 1-1h7.6c.6 0 1 .5 1 1s-.4 1-1 1z"/>
                            <g>
                              <g id="XMLID_3_">
                                <path class="st2" d="M54.2 88.3c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5-1.5-.7-1.5-1.5.6-1.5 1.5-1.5zm1.1 1.5c0-.6-.5-1.2-1.2-1.2-.6 0-1.2.5-1.2 1.2 0 .6.5 1.2 1.2 1.2s1.2-.6 1.2-1.2z"/>
                                <circle class="st2" cx="54.2" cy="89.8" r="1.2"/>
                                <path class="st2" d="M52.3 84.5c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5-1.5-.7-1.5-1.5.7-1.5 1.5-1.5zm1.2 1.6c0-.6-.5-1.2-1.2-1.2s-1.2.5-1.2 1.2c0 .6.5 1.2 1.2 1.2s1.2-.6 1.2-1.2z"/>
                                <path class="st2" d="M52.3 84.9c.6 0 1.2.5 1.2 1.2 0 .6-.5 1.2-1.2 1.2s-1.2-.5-1.2-1.2.6-1.2 1.2-1.2z"/>
                              </g>
                            </g>
                          </svg>                                
                        </div>
                        <div class="product-secondaryDetails-item-description">Free and easy returns and exhanges. So no pressure, you got this.</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
   {% if section.settings.show_share_buttons %}
      {% include 'social-sharing-product', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}

</div>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
