

<section class="productExplanation  productExplanation--aglets  productExplanation--left" data-aglet-explanation>
  <div class="row small-collapse">
    <div class="small-12  large-11 columns medium-pull-1">
      <div class="productExplanation-inner">
        <div class="row small-collapse">
          <div class="small-12 columns medium-6">
            <div class="productExplanation-image">
              <picture>
                <source media="(min-width: 1024px)"
                        data-srcset="{{'aglets-large.png' | asset_url}}">
              
                <source media="(min-width: 640px)  and (max-width: 1023px)"
                        data-srcset="{{'aglets-medium.png' | asset_url}}">

                <source media="(min-width: 0) and (max-width: 639px)"
                        data-srcset="{{'aglets-small.png' | asset_url}}">
                              
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     class="lazyload"
                     alt="Lion biting the aglets on a Whiskers lace." 
                     data-lion
                     data-sizes="auto"
                     data-image
                     >
              </picture>  
            </div>
          </div>
          <div class="small-12 columns  medium-6">
            <div class="row  small-collapse">
              <div class="small-12 columns large-9   large-centered">
                <div class="productExplanation-copy">
                  <h1 class="headline" data-headline>
                    Practically Immortal Aglets
                  </h1>
                  <p data-paragraph>
                  Whiskers aglets (the ends of a shoelace that keep it together) are made of metal. Because metal is metal  \m/
                  </p>

                  <svg class="productExplanation-accent  whiskerIcon"   data-icon style="fill: #f1D601;">
                    <use xlink:href="#icon--rock"/>

                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="productExplanation  productExplanation--right  productExplanation--weave" data-weave-explanation>
  <div class="row small-collapse">
    <div class="small-12  large-11 columns medium-push-1">
      <div class="productExplanation-inner">
        <div class="row small-collapse">
          <div class="small-12 columns medium-6  medium-push-6">
            <div class="productExplanation-image">
              <picture>

                <source media="(min-width: 0) and (min-width: 640px)"
                        data-srcset="{{'chatter-teeth-animation-1.png' | asset_url}}">

                <source media="(min-width: 0) and (max-width: 639px)"
                        data-srcset="{{'weave-small.png' | asset_url}}">
                     
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     alt="Chatter teeth pulling weave." 
                     class="lazyload"
                     data-chatter-teeth
                     data-image-steps = '[
                        "{{'chatter-teeth-animation-1.png' | asset_url}}",
                        "{{'chatter-teeth-animation-2.png' | asset_url}}",
                        "{{'chatter-teeth-animation-3.png' | asset_url}}"
                     ]'
                     >
              </picture>     
            </div>
          </div>
          <div class="small-12 columns  medium-6  medium-pull-6">
            <div class="row  small-collapse">
              <div class="small-12 columns large-9  large-centered">
                <div class="productExplanation-copy">
                  <h1 class="headline" data-headline>
                    A weave made <br>for tug-of-war
                  </h1>
                  <p data-paragraph>
                   Durable woven laces that won’t break when you need them to, you know… be functional laces and keep your shoes on your feet.
                  </p>
                  <svg class="productExplanation-accent  whiskerIcon" data-icon  style="fill: #ce1427;"    data-index="0">
                    <use xlink:href="#icon--pineapple"/>

                  </svg>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="productExplanation  productExplanation--spool  productExplanation--left" data-spool-explanation>
  <div class="row small-collapse">
    <div class="small-12  large-11 columns medium-pull-1">
      <div class="productExplanation-inner">
        <div class="row small-collapse">
          <div class="small-12 columns medium-6">
            <div class="productExplanation-image">
            <picture>

                <source media="(min-width: 0) and (min-width: 640px)"
                        data-srcset="{{'spool-frame-0.png' | asset_url}}">

                <source media="(min-width: 0) and (max-width: 639px)"
                        data-srcset="{{'spool-small.png' | asset_url}}">
                              
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     class="lazyload"
                     data-spool
                     data-image-steps = '[
                        "{{'spool-frame-0.png' | asset_url}}",
                        "{{'spool-frame-1.png' | asset_url}}",
                        "{{'spool-frame-2.png' | asset_url}}",
                        "{{'spool-frame-3.png' | asset_url}}",
                        "{{'spool-frame-4.png' | asset_url}}",
                        "{{'spool-frame-5.png' | asset_url}}"
                     ]'
                     alt="Spool animated pulling a lace around it.">
              </picture>      
            </div>
          </div>
          <div class="small-12 columns  medium-6  ">
            <div class="row  small-collapse">
              <div class="small-12 columns large-9   large-centered">
                <div class="productExplanation-copy">
                  <h1 class="headline" data-headline>
                  The Storage Spool
                  </h1>
                  <p data-paragraph>
                    We know you’ll be getting more than one pair, and keeping them tidy can get pretty intense. So our pairs of laces come wrapped around their own spool for maximum storage power. 
                  </p>
                  <svg class="productExplanation-accent  whiskerIcon"  data-icon  style="fill: #a067e0;"    data-index="0">
                    <use xlink:href="#icon--dolphin"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="shippingAnnouncement"  data-shipping-announcement>
    <div class="row small-collapse">
      <div class="small-12  medium-11  large-10  medium-centered  columns">
        <div class="shippingAnnouncement-inner">
          <div class="row  [  grid grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--center ]">
            <div class="small-12 columns medium-7  medium-push-5"  >
              <div class="shippingAnnouncement-image">
                <img data-src="{{ 'shipping_image.jpg' |  asset_url}}" alt="Overhead shot of shoes with Whiskers Laces" class="lazyload" data-image>
              </div>
            </div>
            <div class="small-12  columns  medium-5  medium-pull-7">
              <div class="shippingAnnouncement-copy">
                <h1 class="headline" data-headline>Why only get 1 pair of laces?</h1>
                <p data-body>
                 Since 1 pair simply isn’t enough, enjoy free shipping on orders over $25! 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="small-12  medium-11  large-10 medium-centered  columns">
      <div class="productArt" data-product-art-shot>
        <div class="productArt-img">
        {%for tag in product.tags%}
        
          {%if tag == 'Boot' or tag contains 'Boot'%}
           <picture>
              
            <source media="(min-width: 1024px)"
                    data-srcset="{{'productArt-boot-large.png' | asset_url}}">
          
            <source media="(min-width: 640px)  and (max-width: 1023px)"
                    data-srcset="{{'productArt-boot-medium.png' | asset_url}}">


            <source media="(min-width: 0) and (max-width: 639px)"
                    data-srcset="{{'productArt-boot-small.png' | asset_url}}">

            <img src="{{'productArt-boot-small.png' | asset_url}}"
                 alt="Whiskers Laces Artshot of boot with blue laces" 
                 class="lazyload"
                 data-sizes="auto"
                 data-image
                 >
          </picture>      
          {%else%}
            <picture>
              
            <source media="(min-width: 1024px)"
                    data-srcset="{{'productArt-shoe-large.png' | asset_url}}">
          
            <source media="(min-width: 640px)  and (max-width: 1023px)"
                    data-srcset="{{'productArt-shoe-medium.png' | asset_url}}">


            <source media="(min-width: 0) and (max-width: 639px)"
                    data-srcset="{{'productArt-shoe-small.png' | asset_url}}">

            <img src="{{'productArt-shoe-small.png' | asset_url}}"
                 alt="Whiskers Laces Artshot of shoe with red laces" 
                 class="lazyload"
                 data-sizes="auto"
                 data-image
                 >
          </picture>     
          {%endif%}
          {% break %}
        {%endfor%} 
        </div>
          <h1 class="productArt-headline  text-center" data-headline>It’s time for a change. <br>Start with your laces. 
          </h1>
          {%for tag in product.tags%}
        
          {%if tag == 'Boot' or tag contains 'Boot'%}
           <div class="productArt-icon" data-icon>
            <svg class="whiskerIcon" style="fill: #0e2fe6;">
              <use xlink:href="#icon--cactus"/>

            </svg>
          </div>
          {%else%}
            <div class="productArt-icon" data-icon>
              <svg class="whiskerIcon" style="fill: red;">
                <use xlink:href="#icon--bomb"/>

              </svg>
            </div>   
          {%endif%}
          {% break %}
        {%endfor%}     
        </div>
    </div>
  </div>
</section>


{%javascript%}
//<script>

$(window).on('load', function() {

  function lionAnim(container) {

    var selectors = {
      lion: '[data-lion]',
      headline: '[data-headline]',
      paragraph: '[data-paragraph]',
      icon: '[data-icon]'
    };

    var $container = $(container); 
    var $lion = $(selectors.lion); 
    this.animCtrl = new ScrollMagic.Controller(); 


    $container.find('img').on('lazyloaded', function() {

      function activateAgletAnim(animCtrl) {

        //
        // Defines the entry animations for lion
        //
        TweenMax.set(selectors.lion, {autoAlpha: 1});

        var lionEntryAnim = new TimelineMax()
            .from(selectors.lion, 2, {x: '-100%', ease: 'cubic-bezier(0.23, 1, 0.32, 1)'}); 


        var pageScene = new ScrollMagic.Scene({
              triggerElement: container,
              triggerHook: 'onEnter',
              duration: '90%'
            })
            .setTween(lionEntryAnim)
            .addTo(this.animCtrl); 
      }


      setTimeout(function(){
  
          if(window.innerWidth > 640) {
            console.log('activate lion animation');
            activateAgletAnim(this.animCtrl);
          }

         $(window).on('resize', function() {
            this.animCtrl.destroy(true); 
            this.animCtrl = new ScrollMagic.Controller(); 

            if(window.innerWidth >= 640) {
              activateAgletAnim(this.animCtrl);
            }

          }); 

      }, 100);

    }); 

    //
    // Code to animate the section copy when it enters the page
    //
    var sectionAnim  = new TimelineMax()
          .from($container.find(selectors.headline), .2, {y: '18px', opacity: 0}, .1)
          .from($container.find(selectors.paragraph), .2, {y: '18px', opacity: 0}, '-=.1')
          .from($container.find(selectors.icon), .1, {opacity: 0});

    var sectionScene = new ScrollMagic.Scene({
        triggerElement: container, 
        triggerHook: 'onCenter'
    })
    .setTween(sectionAnim)
    .addTo(this.animCtrl); 

  }

  function chatterTeethAnim(container) {


    var selectors = {
      chatterTeeth: '[data-chatter-teeth]',
      headline: '[data-headline]',
      paragraph: '[data-paragraph]',
      icon: '[data-icon]'
    };

    var $container = $(container); 
    var $chatterTeethSequence = $(selectors.chatterTeeth);
    this.animCtrl = new ScrollMagic.Controller(); 

    //
    // Code to animate the chatter teeth
    //
    $container.find('img').on('lazyloaded', function() {
      function activateWeaveAnim(animCtrl) {

        $container.find('picture source').remove();

        function generateFrames(framesArray) {
          var array = JSON.parse(framesArray); 

          var myImages = []; 

          for(var i = 0; i  < array.length; i++){
            myImages[i] = new Image(); 
            myImages[i].src = array[i]; 
          }

          return array; 
        }

        var frames = generateFrames($chatterTeethSequence.attr('data-image-steps')); 

        var frameTracker = {curImg: 0};

        var tween = TweenMax.to(frameTracker, .8,
          {
            curImg: frames.length - 1, 
            roundProps: "curImg", 
            repeat: 6, 
            immediateRender: true, 
            ease: Linear.easeNone, 
            onUpdate: function() {
              $chatterTeethSequence.attr('src', frames[frameTracker.curImg]);
            }

          });


        var scene = new ScrollMagic.Scene({
          triggerElement: "[data-weave-explanation]", 
          duration: "150%",
          triggerHook: "onEnter"
        })
        .setTween(tween)
        .addTo(this.animCtrl); 
      }

      if(window.innerWidth > 640) {
        activateWeaveAnim(this.animCtrl);
      }

      $(window).on('resize', function() {
        this.animCtrl.destroy(true); 
        this.animCtrl = new ScrollMagic.Controller(); 

        if(window.innerWidth >= 640) {
          activateWeaveAnim(this.animCtrl);
        }

      }); 
    }); 

    //
    // Code to animate the section copy when it enters the page
    //
    var sectionAnim  = new TimelineMax()
          .from($container.find(selectors.headline), .2, {y: '18px', opacity: 0}, .1)
          .from($container.find(selectors.paragraph), .2, {y: '18px', opacity: 0}, '-=.1')
          .from($container.find(selectors.icon), .1, {opacity: 0});

    var sectionScene = new ScrollMagic.Scene({
        triggerElement: container, 
        triggerHook: 'onCenter',
        offset: 200
    })
    .setTween(sectionAnim)
    .addTo(this.animCtrl); 

  }


  function spoolStorageAnim(container) {

    function generateFrames(framesArray) {
      var array = JSON.parse(framesArray); 

      var myImages = []; 

      for(var i = 0; i  < array.length; i++){
        myImages[i] = new Image(); 
        myImages[i].src = array[i]; 
      }

      return array; 
    }

    var selectors = {
      spool: '[data-spool]',
      headline: '[data-headline]',
      paragraph: '[data-paragraph]',
      icon: '[data-icon]'
    };

    var $container = $(container); 
    var $spoolSequence = $(selectors.spool);
    this.animCtrl = new ScrollMagic.Controller(); 


    $container.find('img').on('lazyloaded', function() {

      setTimeout(function() { 

        //
        // Code to animate the spool spinning
        //
        function activateSpoolAnim(animCtrl) {

          $container.find('picture source').remove();

          var frames = generateFrames($spoolSequence.attr('data-image-steps')); 

          var frameTracker = {curImg: 0};

          var tween = TweenMax.to(frameTracker, .8,
            {
              curImg: frames.length - 1, 
              roundProps: "curImg", 
              immediateRender: true, 
              ease: Linear.easeNone, 
              onUpdate: function(event) {
                $spoolSequence.attr('src', frames[frameTracker.curImg]);
              }

            });

          var scene = new ScrollMagic.Scene({
            triggerElement: "[data-spool-explanation]", 
            duration: "50%",
            triggerHook: "onCenter"
          })
          .setTween(tween)
          .addTo(this.animCtrl); 
        }

        if(window.innerWidth > 640) {
          activateSpoolAnim(this.animCtrl);
        }

        $(window).on('resize', function() {
          this.animCtrl.destroy(true); 
          this.animCtrl = new ScrollMagic.Controller(); 

          if(window.innerWidth >= 640) {
            activateSpoolAnim(this.animCtrl);
          }

        });   

      }, 200); 

    }); 


    //
    // Code to animate the section copy when it enters the page
    //
    var sectionAnim  = new TimelineMax()
          .from($container.find(selectors.headline), .2, {y: '18px', opacity: 0}, .1)
          .from($container.find(selectors.paragraph), .2, {y: '18px', opacity: 0}, '-=.1')
          .from($container.find(selectors.icon), .1, {opacity: 0});

    var sectionScene = new ScrollMagic.Scene({
        triggerElement: container, 
        triggerHook: 'onCenter'
    })
    .setTween(sectionAnim)
    .addTo(this.animCtrl); 
    
  }


  function productArtShot(container) {

    var animSpeed = .4;    
    var selectors = {
      headline: '[data-headline]', 
      image: '[data-image]',
      icon: '[data-icon]'
    };
    
    var $container = $(container); 
    this.animCtrl = new ScrollMagic.Controller(); 


    $container.find('img').on('lazyloaded', function() {

      setTimeout(function() {

        //
        // Make selectors inside container visibility normal to prepare for animation
        //
        for(var selector in selectors) {
          TweenMax.set($container.find(selectors[selector]), {autoAlpha: 1});
        }


        //
        // Code to animate the lookbook art shot when it enters the page
        //
        var sectionAnim  = new TimelineMax()
              .to($container.find(selectors.image), animSpeed, {y: '0'})
              .fromTo($container.find(selectors.headline), animSpeed, {y: '20px', opacity: 0}, {y: '0', opacity: 1}, '-=0.2')
              .from($container.find(selectors.icon), .1, {opacity: 0});

        //
        // Defining section scenes that will trigger animations
        //
        var sectionScene = new ScrollMagic.Scene({
            triggerElement: container, 
            triggerHook: 'onCenter'
        })
        .setTween(sectionAnim)
        .addTo(this.animCtrl); 

      }, 200); 

    }); 
  }
    

  function shippingAnnouncement(container) {
    
    var animSpeed = .4;   
    var selectors = {
      headline: '[data-headline]', 
      image: '[data-image]',
      paragraph: '[data-body]'
    };

    var $container = $(container); 
    this.animCtrl = new ScrollMagic.Controller(); 


    $container.find('img').on('lazyloaded', function() {

      setTimeout(function() {

        //
        // Make selectors inside container visibility normal to prepare for animation
        //
        for(var selector in selectors) {
          TweenMax.set($container.find(selectors[selector]), {autoAlpha: 1});
        }

        //
        // Code to animate the lookbook intro when it enters the page
        //
        var sectionAnim  = new TimelineMax()
              .from($container.find(selectors.image), animSpeed, {y: '100%'}, '-=.4')
              .from($container.find(selectors.headline), .2, {y: '18px', opacity: 0}, .1)
              .from($container.find(selectors.paragraph), .2, {y: '18px', opacity: 0}, '-=.1');
        
        var sectionScene = new ScrollMagic.Scene({
            triggerElement: container, 
            triggerHook: 'onCenter'
        })
        .setTween(sectionAnim)
        .addTo(this.animCtrl); 
      }, 400); 

    }); 
  }


  spoolStorageAnim('[data-spool-explanation]'); 
  chatterTeethAnim('[data-weave-explanation]'); 
  lionAnim('[data-aglet-explanation]')
  shippingAnnouncement('[data-shipping-announcement]');
  productArtShot("[data-product-art-shot]");

});

//</script> 
{%endjavascript%}
