

<div class="product"  data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">


  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
    
  <div class="product-bg">
    
  </div>

  <div class="row small-collapse">
    <div class="small-12 large-10 large-centered">
      <div class="product-inner">

        <div class="row">
          <div class="small-12 columns large-8  large-push-1">
            <div class="product-header  [ grid  grid--justifyLeft ]">
              {% include 'breadcrumbs' %}
            </div>
          </div>
        </div>

        <div class="row small-collapse">
          <div class="small-12 large-6  columns large-push-6">
            <div class="row  small-collapse  large-uncollapse">
              <div class="small-12 columns">
                <div class="product-photoSlideshow"  data-ui-component="product-photo-slideshow">
                  {% for image in product.images %}
                    {% if forloop.first == false %}
                    <div class="product-photoSlideshow-slide">

                        <button class="photoSlideshow-slide-zoom  hide-for-large-up" 
                             data-zoom-btn
                             data-high-res-image="{{ image | img_url: '1100x1100' }}"
                             data-image-size>
                          <span class="photoSlideshow-slide-zoom-icon">
                              <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 22.2">
                                <circle style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10" cx="14.1" cy="8" r="7.5"/>
                                <path style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10" d="M14.1 3.8v8.5M8.8 13.4L.5 21.7M9.8 8h8.6"/>
                              </svg>
                          </span>
                        </button>

   <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image | img_url: '1500x1500' }}" alt="{{ image.alt | escape }}" class="lazyload"  data-sizes="auto" data-product-image>
                     <!--    <picture>
                            <source media="(min-width: 640px)" srcset="{{ image | img_url: '1100x1100' }}' | asset_url}}">
                         
                        </picture> -->
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row show-for-large-up">
            
              <div class="small-12 columns">
              
                <div class="productPhotoThumbnails">

                  {% if product.images.size > 1 %}
                  <ul class="productPhotoThumbnails-thumbnails grid grid--flexWrap grid--flexDirectionRow grid--1of2 large-grid--flexDirectionRow large-grid--fit">
                    {% for image in product.images %}
                      {% if forloop.first == false %}
                      <li>
                        <a  data-product-single-thumbnail data-slide-index="{{forloop.index}}">
                          <div class="productPhotoThumbnails-thumb">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src | img_url: '300x300' }}" alt="{{ image.alt | escape }}" class="lazyload" data-sizes="auto">
                          </div>
                        </a>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
      
          <div class="small-12 columns large-5 large-pull-6 ">
        
            <div class="product-information">
        
              <div class="row small-collapse  large-uncollapse">
      
                <div class="small-12 columns medium-7  large-12">
      
                  <div class="row  small-collapse">
                    <div class="small-12 columns">
                        <h1 class="product-name" data-product-anim-elem>
                          {{ product.title }}
                        </h1>
                        
                        <ul class="product-details  grid  grid--center"  data-product-anim-elem>
                       
                          <li data-price-wrapper class="product-price">
                            <span data-product-price>
                              {{ current_variant.price | money }}
                            </span>

                            {% if product.compare_at_price_max > product.price %}
                              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                              <s data-compare-price>
                                {% if current_variant.compare_at_price > current_variant.price %}
                                  {{ current_variant.compare_at_price | money }}
                                {% endif %}
                              </s>
                            {% endif %}
                          </li>
          
                        </ul>
                        
                        <div class="product-description" data-product-anim-elem>
                          {{ product.description }}
                        </div>
                        
                        <div data-product-anim-elem>
                            {% unless product == empty %}
                            <script type="application/json" data-product-json>
                              {{ product | json }}
                            </script>
                          {% endunless %}
                        </div>
                        
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"  class="product-actions" data-product-anim-elem>
                          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

                          <form action="/cart/add" method="post" enctype="multipart/form-data"
                                id="AddToCartForm--{{ section.id }}">

                            <div class="grid grid--center  grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--flex-wrap">
                              {% unless product.has_only_default_variant %}
                              <div class="product-variants">
                                  {% for option in product.options_with_values %}
                                    <div class="selector-wrapper js">
                                      <label for="SingleOptionSelector-{{ forloop.index0 }}" class="grid-cell  grid-cell--autoSize">
                                        {{ option.name }}
                                      </label>
                                
                                      <div class="select  select--primary  select--small">
                                        <select
                                          id="SingleOptionSelector-{{ forloop.index0 }}"
                                          data-single-option-selector
                                          data-index="option{{ option.position }}">
                                          {% for value in option.values %}
                                            <option
                                              value="{{ value | escape }}"
                                              {% if option.selected_value == value %}selected="selected"{% endif %}>
                                                {{ value }}
                                            </option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  {% endfor %}
                              </div>
                              {% endunless %}

                              <select name="id" class="no-js" data-product-select>
                                {% for variant in product.variants %}
                                  <option
                                    {% if variant == current_variant %}selected="selected"{% endif %}
                                    {% unless variant.available %}disabled="disabled"{% endunless %}
                                    value="{{ variant.id }}">
                                      {{ variant.title }}
                                  </option>
                                {% endfor %}
                              </select>

                              <div class="product-qty  grid  grid--center  med-grid--flexDirectionColumn  med-grid--top">
                                <label for="Quantity">QTY.</label>
                                <!--<label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->
                                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="input--small" >
                              </div>
                            </div>
                        
                            <button
                              type="submit"
                              name="add"
                              class="button  button--medium  button--expanded  button--primary product-buyBtn"
                              data-add-to-cart
                              id="AddToCart--{{section.id}}"
                              data-text="{{ 'products.product.add_to_cart' | t }}"
                              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                                <span data-add-to-cart-text class="button-textState1">
                                    {{ 'products.product.add_to_cart' | t }}
                                </span>
                            </button>
                          </form>

                        </div>
                      </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
   {% if section.settings.show_share_buttons %}
      {% include 'social-sharing-product', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}

</div>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
