

<section class="productExplanation  productExplanation--aglets  productExplanation--left">
  <div class="row small-collapse">
    <div class="small-12  large-11 columns medium-pull-1">
      <div class="productExplanation-inner">
        <div class="row small-collapse">
          <div class="small-12 columns medium-6">
            <div class="productExplanation-image">
              <picture>
                <source media="(min-width: 1024px)"
                        data-srcset="{{'aglets-large.png' | asset_url}}">
              
                <source media="(min-width: 640px)  and (max-width: 1023px)"
                        data-srcset="{{'aglets-medium.png' | asset_url}}">

                <source media="(min-width: 0) and (max-width: 639px)"
                        data-srcset="{{'aglets-small.png' | asset_url}}">
                              
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-sizes="auto" 
                     class="lazyload"
                     alt="Lion biting the aglets on a Whiskers lace." 
                     data-image
                     >
              </picture>  
            </div>
          </div>
          <div class="small-12 columns  medium-6">
            <div class="row  small-collapse">
              <div class="small-12 columns large-9   large-centered">
                <div class="productExplanation-copy">
                  <h1 class="headline">
                    Practically Immortal Aglets
                  </h1>
                  <p>
                  Whiskers aglets (the ends of a shoelace that keep it together) are made of metal. Because metal is metal  \m/
                  </p>

                  <svg class="productExplanation-accent  whiskerIcon"  style="fill: #f1D601;">
                    <use xlink:href="#icon--rock"/>

                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="productExplanation  productExplanation--right  productExplanation--weave" data-weave-explanation>
  <div class="row small-collapse">
    <div class="small-12  large-11 columns medium-push-1">
      <div class="productExplanation-inner">

        <div class="row small-collapse">
          <div class="small-12 columns medium-6  medium-push-6">
            <div class="productExplanation-image">
                <img src=""
                     alt="Chatter teeth pulling weave." 
                     data-chatter-teeth
                     data-image-steps = '[
                        "{{'chatter-teeth-animation-1.png' | asset_url}}",
                        "{{'chatter-teeth-animation-2.png' | asset_url}}",
                        "{{'chatter-teeth-animation-3.png' | asset_url}}"
                     ]'
                     >
            </div>
          </div>
          <div class="small-12 columns  medium-6  medium-pull-6">
            <div class="row  small-collapse">
              <div class="small-12 columns large-9  large-centered">
                <div class="productExplanation-copy">
                  <h1 class="headline">
                    A weave made <br>for tug-of-war
                  </h1>
                  <p>
                   Durable woven laces that won’t break when you need them to, you know… be functional laces and keep your shoes on your feet.
                  </p>
                  <svg class="productExplanation-accent  whiskerIcon"  style="fill: #ce1427;"  data-accent  data-index="0">
                    <use xlink:href="#icon--pineapple"/>

                  </svg>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="productExplanation  productExplanation--spool  productExplanation--left">
  <div class="row small-collapse">
    <div class="small-12  large-11 columns medium-pull-1">
      <div class="productExplanation-inner">
        <div class="row small-collapse">
          <div class="small-12 columns medium-6">
            <div class="productExplanation-image">
              <picture>
                <source media="(min-width: 1024px)"
                        data-srcset="{{'spool-large.png' | asset_url}}">
              
                <source media="(min-width: 640px)  and (max-width: 1023px)"
                        data-srcset="{{'spool-medium.png' | asset_url}}">

                <source media="(min-width: 0) and (max-width: 639px)"
                        data-srcset="{{'spool-small.png' | asset_url}}">
                              
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-sizes="auto" 
                     class="lazyload"
                     alt="Spool animated pulling a lace around it.">
              </picture>       
            </div>
          </div>
          <div class="small-12 columns  medium-6  ">
            <div class="row  small-collapse">
              <div class="small-12 columns large-9   large-centered">
                <div class="productExplanation-copy">
                  <h1 class="headline  productExplanate">
                  The Storage Spool
                  </h1>
                  <p>
                    We know you’ll be getting more than one pair, and keeping them tidy can get pretty intense. So our pairs of laces come wrapped around their own spool for maximum storage power. 
                  </p>
                  <svg class="productExplanation-accent  whiskerIcon"  style="fill: #a067e0;"  data-accent  data-index="0">
                    <use xlink:href="#icon--dolphin"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="shippingAnnouncement" >
    <div class="row small-collapse">
      <div class="small-12  medium-11  large-10  medium-centered  columns">
        <div class="shippingAnnouncement-inner">
          <div class="row  [  grid grid--flexDirectionColumn  med-grid--flexDirectionRow  grid--center ]">
            <div class="small-12 columns medium-7  medium-push-5"  >
              <div class="shippingAnnouncement-image">
                <img data-src="{{ 'shipping_image.jpg' |  asset_url}}" alt="" class="lazyload">
              </div>
            </div>
            <div class="small-12  columns  medium-5  medium-pull-7">
              <div class="shippingAnnouncement-copy">
                <h1 class="headline" data-headline>Why only get 1 pair of laces?</h1>
                <p data-body>
                  We know just 1 pair isn’t enough, so enjoy free shipping on orders over $25. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="small-12  medium-11  large-10 medium-centered  columns">
      <div class="productArt" >
        <div class="productArt-img">
        {%for tag in product.tags%}
        
          {%if tag == 'Boot' or tag contains 'Boot'%}
           <picture>
              
            <source media="(min-width: 1024px)"
                    data-srcset="{{'productArt-boot-large.png' | asset_url}}">
          
            <source media="(min-width: 640px)  and (max-width: 1023px)"
                    data-srcset="{{'productArt-boot-medium.png' | asset_url}}">


            <source media="(min-width: 0) and (max-width: 639px)"
                    data-srcset="{{'productArt-boot-small.png' | asset_url}}">

            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-sizes="auto" 
                 alt="Whiskers Laces Artshot of boot with blue laces" 
                 class="lazyload"
                 data-image
                 >
          </picture>      
          {%else%}
            <picture>
              
            <source media="(min-width: 1024px)"
                    data-srcset="{{'productArt-shoe-large.png' | asset_url}}">
          
            <source media="(min-width: 640px)  and (max-width: 1023px)"
                    data-srcset="{{'productArt-shoe-medium.png' | asset_url}}">


            <source media="(min-width: 0) and (max-width: 639px)"
                    data-srcset="{{'productArt-shoe-small.png' | asset_url}}">

            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-sizes="auto" 
                 alt="Whiskers Laces Artshot of shoe with red laces" 
                 class="lazyload"
                 data-image
                 >
          </picture>     
          {%endif%}
          {% break %}
        {%endfor%} 
        </div>
          <h1 class="productArt-headline  text-center" data-headline>It’s time for a change. <br>Start with your laces. 
          </h1>
          {%for tag in product.tags%}
        
          {%if tag == 'Boot' or tag contains 'Boot'%}
           <div class="productArt-icon" data-icon>
            <svg class="whiskerIcon" style="fill: #0e2fe6;">
              <use xlink:href="#icon--cactus"/>

            </svg>
          </div>
          {%else%}
            <div class="productArt-icon" data-icon>
              <svg class="whiskerIcon" style="fill: red;">
                <use xlink:href="#icon--bomb"/>

              </svg>
            </div>   
          {%endif%}
          {% break %}
        {%endfor%}     
        </div>
    </div>
  </div>
</section>


{%javascript%}
//<script>
  console.log($('[data-chatter-teeth]').attr('data-image-steps')); 
  
  function chatterTeethAnim(container) {

    function generateFrames(framesArray) {
      var array = JSON.parse(framesArray); 

      var myImages = []; 

      for(var i = 0; i  < array.length; i++){
        myImages[i] = new Image(); 
        myImages[i].src = array[i]; 
      }

      return array; 
    }

    var selectors = {
      chatterTeeth: '[data-chatter-teeth]'
    };

    var $container = $(container); 
    var $chatterTeethSequence = $(selectors.chatterTeeth);

    var frames = generateFrames($chatterTeethSequence.attr('data-image-steps')); 

    var frameTracker = {curImg: 0};

    var tween = TweenMax.to(frameTracker, .8,
      {
        curImg: frames.length - 1, 
        roundProps: "curImg", 
        repeat: 6, 
        immediateRender: true, 
        ease: Linear.easeNone, 
        onUpdate: function() {
          $chatterTeethSequence.attr('src', frames[frameTracker.curImg]);
          console.log(frameTracker.curImg);  
          console.log(frames[frameTracker.curImg]);
        }

      });


    var controller = new ScrollMagic.Controller(); 

    var scene = new ScrollMagic.Scene({
      triggerElement: "[data-weave-explanation]", 
      duration: "150%",
      triggerHook: "onEnter"
    })
    .setTween(tween)
    .addTo(controller); 

  }

  setTimeout(function() {
    chatterTeethAnim('[data-weave-explanation]'); 
  }, 2000);

//</script> 
{%endjavascript%}
